        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item"><a class="nav-link" href="../index">Home</a></li>
                <li class="nav-item dropdown dropdown-xl no-caret">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up mr-lg-n15" aria-labelledby="navbarDropdownDemos">
                        <div class="row no-gutters">
                            <div class="col-lg-5 p-lg-3 bg-img-cover overlay overlay-primary overlay-70 d-none d-lg-block" style='background-image: url("https://source.unsplash.com/mqO0Rf-PUMs/500x350")'>
                                <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                    <div class="text-white text-center z-1">
                                        <div class="mb-3">We are here for you.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 p-lg-5">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h6 class="dropdown-header text-primary">About Us</h6>
                                        <a class="dropdown-item" href="../landing-app-mobile.html">Who We Are</a>
                                        <div class="dropdown-divider border-0"></div>
                                        <h6 class="dropdown-header text-primary">Business</h6>
                                        <a class="dropdown-item" href="../landing-multipurpose.html">Legal Information</a>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-lg no-caret">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="navbarDropdownPages">
                        <div class="row no-gutters">
                            <div class="col-lg-6 p-lg-5">
                                <h6 class="dropdown-header text-primary">Products</h6>
                                <a class="dropdown-item" href="../page-basic.html">All Products</a>
                                <div class="dropdown-divider border-0"></div>
                            
                            </div>
                            <div class="col-lg-6 p-lg-5">
                                <h6 class="dropdown-header text-primary">Services</h6>
                                <a class="dropdown-item" href="../page-careers-overview.html">All Services</a>
                                <div class="dropdown-divider border-0"></div>
                             </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-lg no-caret">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                     <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="navbarDropdownPages">
                        <div class="row no-gutters">
                            <div class="col-lg-6 p-lg-5">
                                <h6 class="dropdown-header text-primary">Company</h6>
                                <a class="dropdown-item" href="../page-basic.html">Our Offices</a>
                                <div class="dropdown-divider border-0"></div>
                            
                            </div>
                            <div class="col-lg-6 p-lg-5">
                                <h6 class="dropdown-header text-primary">Careers</h6>
                                <a class="dropdown-item" href="../page-careers-overview.html">Careers List</a>
                                <div class="dropdown-divider border-0"></div>
                             </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>