<!--Do Not Remove any parts of this document unless you expect to not use out of the box behaviours-->
<html lang="en">
    {% include '//components/template-header-meta.html' %} 
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main> 
                    {% include '//components/template-navigation.html' %}
                    {% block header %}{% endblock %}
                    {% block content %}{% endblock %}
                </main>
            </div>
            <div id="layoutDefault_footer">
                {% block footer %}{% endblock %}
            </div>
            {% with color="white" %}
                {% include '//components/template-footer.html' %}
            {% endwith %}
        </div>
        {% include '//components/template-footer-scripts.html' %}
    </body>
    Sample
</html>
