        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item"><a class="nav-link" href="../index">Home</a></li>
                <li class="nav-item no-caret">
                    <a class="nav-link" id="navbarDropdownPages" href="#" role="button"  aria-haspopup="true" >Our Products</a>
                </li>
                <li class="nav-item no-caret">
                    <a class="nav-link" id="navbarDropdownPages" href="/login" role="button" aria-haspopup="true" >Get Discounts</a>
                </li>
            </ul>
        </div>