{% extends "ecommerce/template.html" %}

{% block content %}
 <section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-bottom">
                    <div class="card-header">Go to Credit</div>
                    <div class="card-body">
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}