        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item"><a class="nav-link" href="../index">Home</a></li>
                <li class="nav-item dropdown dropdown-xl no-caret">
                    <a class="nav-link dropdown-toggle" href="/ecommerce/shop" role="button">Shop</a>
                    <a class="nav-link dropdown-toggle" href="/ecommerce/apply" role="button">Apply for Financing</a>
                </li>
            </ul>
        </div>