{% extends "ecommerce/template.html" %}

{% block content %}
<section class="bg-light py-5">
    <div class="container">
        {% include '//ecommerce/cart.html' %}
        <hr class="my-4" />
        <a href="/ecommerce/shop">Go back to Shop!</a>
        <div class="row">
            {% for i in products['data'] %}
                {% if i['id']  == productid %}
                    <div class="col-lg-12">
                        <div class="card mt-4">
                          <a href="#" style="text-align:center;padding: 20 0 0 0;"><img class="card-img-top" src="{{i['image']}}" style="width:400px;"  alt=""></a>
                          <div class="card-body">
                            <h3 class="card-title">{{i['title']}}</h3>
                            <h4>{{i['price_raw']}}</h4>
                            <input type="hidden" value="{{i['title']}}" id='title{{i['id']}}' >
                            <input type="hidden" value="{{i['price']}}" id='price{{i['id']}}'>
                            <p class="card-text">{{i['snippet']}}</p><br>
                            <div id="stars-existing" class="starrr" data-rating='{{i['rating']}}'>Rating:  </div> {{i['rating']}} stars<br><br>
                            <button onclick="addcart('{{i['id']}}')" class="btn btn-primary" type="button" style="width:100%">Buy Now</button>
                          </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>


<script>
    var __slice = [].slice;

    (function($, window) {
        var Starrr;

        Starrr = (function() {
            Starrr.prototype.defaults = {
                rating: void 0,
                numStars: 5,
                change: function(e, value) {}
            };

            function Starrr($el, options) {
                var i, _, _ref,
                    _this = this;

                this.options = $.extend({}, this.defaults, options);
                this.$el = $el;
                _ref = this.defaults;
                for (i in _ref) {
                    _ = _ref[i];
                    if (this.$el.data(i) != null) {
                        this.options[i] = this.$el.data(i);
                    }
                }
                this.createStars();
                this.syncRating();
                this.$el.on('mouseover.starrr', 'i', function(e) {
                    return _this.syncRating(_this.$el.find('i').index(e.currentTarget) + 1);
                });
                this.$el.on('mouseout.starrr', function() {
                    return _this.syncRating();
                });
                this.$el.on('click.starrr', 'i', function(e) {
                    return _this.setRating(_this.$el.find('i').index(e.currentTarget) + 1);
                });
                this.$el.on('starrr:change', this.options.change);
            }

            Starrr.prototype.createStars = function() {
                var _i, _ref, _results;

                _results = [];
                for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
                    _results.push(this.$el.append("<i class='far fa-star'></i>"));
                }
                return _results;
            };

            Starrr.prototype.setRating = function(rating) {
                if (this.options.rating === rating) {
                    rating = void 0;
                }
                this.options.rating = rating;
                this.syncRating();
                return this.$el.trigger('starrr:change', rating);
            };

            Starrr.prototype.syncRating = function(rating) {
                var i, _i, _j, _ref;

                rating || (rating = this.options.rating);
                if (rating) {
                    for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
                        this.$el.find('i').eq(i).removeClass('far fa-star').addClass('fas fa-star');
                    }
                }
                if (rating && rating < 5) {
                    for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
                        this.$el.find('i').eq(i).removeClass('fas fa-star').addClass('far fa-star');
                    }
                }
                if (!rating) {
                    return this.$el.find('i').removeClass('fas fa-star').addClass('far fa-star');
                }
            };

            return Starrr;

        })();
        return $.fn.extend({
            starrr: function() {
                var args, option;

                option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
                return this.each(function() {
                    var data;

                    data = $(this).data('star-rating');
                    if (!data) {
                        $(this).data('star-rating', (data = new Starrr($(this), option)));
                    }
                    if (typeof option === 'string') {
                        return data[option].apply(data, args);
                    }
                });
            }
        });
    })(window.jQuery, window);

    $(function() {
        return $(".starrr").starrr();
    });

    $( document ).ready(function() {

      $('#stars').on('starrr:change', function(e, value){
        $('#count').html(value);
      });

      $('#stars-existing').on('starrr:change', function(e, value){
        $('#count-existing').html(value);
      });
    });
</script>
{% endblock %}

{% block footer %}
{% endblock %}