files:
    "/etc/nginx/conf.d/app_proxy_buffer.conf" :
        mode: "000644"
        owner: root
        group: root
        content: |
            fastcgi_buffers 16 32k;
            fastcgi_buffer_size 32k;
            proxy_buffer_size   128k;
            proxy_buffers   4 256k;
            proxy_busy_buffers_size 256k;
            
container_commands:
  nginx_reload:
     command: “sudo systemctl reload nginx”
