h1 {
  color: white;
}

a {
  color: white;
  font-weight: bold;
}


/* unvisited link */

a:link {
  color: white;
  font-weight: bold;
}


/* visited link */

a:visited {
  color: white;
  font-weight: bold;
}


/* mouse over link */

a:hover {
  color: white;
  font-weight: bold;
}


/* selected link */

a:active {
  color: white;
  font-weight: bold;
}

html,
body {
  height: 100vh;
  background-color: #b8c6db;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

pre,
code {
  font-family: monospace;
}

pre>code {
  display: block;
  padding: 1rem;
  background: white;
  overflow-x: scroll;
}

div.card-body img {
  border: white;
  border-style: solid;
}

.main {
  width: 1200px;
  height: 100vh;
  margin: 10px auto 0 auto;
}

.tv {
  margin: 10px auto 0 auto;
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80"), 
    url("https://pngimg.com/uploads/tv/tv_PNG39232.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% calc(50% - 35px), 50% 50%;
  background-size: 1185px 675px, 1200px 755px;
}

.tvscreen {
  padding: 2px 0px;
}

.tvscreen iframe {
  border: 0;
  padding: 0;
  margin: 0;
  width: 1200px;
  height: calc(1200px * 0.5625);
}

.appbar {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 535px;
  text-align: center;
  margin-left: 7px;
  margin-right: 8px;
}

#getcode {
  background-color: #000000;
}

.codebox {
  border-width: 1px;
  border-color: #add8e6;
  border-style: solid;
  background-color: #ffffff;
  color: #000;
  padding: 10px;
  flex: 1 0;
  text-align: center;
  font-weight: bold;
}

.actionbtn {
  box-shadow: inset 0px -3px 7px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 11px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 12px;
  padding: 12px 80px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}

.actionbtn:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

.actionbtn:active {
  position: relative;
  top: 1px;
}

.toggle-form {
  right: -9999px;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 9999;
  transition: right .6s ease-in-out;
}

.toggle-form.active {
  right: 0;
}

.toggle-form .formwrap img {
  width: 575px;
}

.formwrap {
  background-color: #989898;
  max-width: 620px;
  height: 100vh;
  float: right;
  box-shadow: -1px 0px 12px rgba(0, 0, 0, 0.1);
}

.toggle-deviceid {
  left: -9999px;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 9999;
  transition: left .6s ease-in-out;
}

.toggle-deviceid.active {
  left: 0;
}

.toggle-deviceid .formwrap img {
  width: 900px;
}

.formwrap2 {
  background-color: #989898;
  max-width: 900px;
  height: 100vh;
  float: left;
  box-shadow: -1px 0px 12px rgba(0, 0, 0, 0.1);
  color: white;
}

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  width: 175px;
  height: 120px;
  display: inline-block;
  margin: 10px;
}

.blue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  border-right: 1px solid #2980B9;
  border-left: 1px solid #2980B9;
  border-top: 1px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  background-color: #3498DB;
}

.action-button:focus {
  outline: none;
}

.underline {
  text-decoration: underline;
}
