{% extends templatename+"/template.html" %}

{% block content %}
        <section class="bg-light py-5">
            <div class="container">
                <div class="d-flex align-items-center mb-5">
                    <div class="icon-stack icon-stack-lg bg-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div>
                    <div class="ml-3">
                        <h2 class="mb-0">Security Configuration</h2>
                        <p class="lead mb-0">Manage External Identity Providers</p>
                    </div>
                </div>
                <div class="card border-bottom">
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary" onclick="window.location.href = 'managesamlidp';">Create Identity Provider</button><br/>
                        <br />
                        <div class="separator-2"></div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th style="text-align:center">Detail</th>
                                    <th style="text-align:center">Update</th>
                                    <th style="text-align:center">Enabled</th>
                                    <th style="text-align:center">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in idplist %}
                                     <tr>
                                        <td>{{ i['name'] }}</td>
                                        <td>{{ i['type'] }}</td>
                                        <td style="text-align:center"><a href="#" onclick="showDetail({{ i.detailJSON }})"><i class="fa fa-info-circle"></i></a></td>
                                        <td style="text-align:center"><a href="managesamlidp?idpId={{ i.id }}"><i class="fa fa-edit"></i></a></td>
                                        {% if i['status'] == 'ACTIVE'  %}
                                               <td style="text-align:center"><a href="deactivatesamlidp?idpId={{ i.id }}"><i class="fa fa-toggle-on"></i></a></td>
                                        {% else %}
                                               <td style="text-align:center"><a href="activatesamlidp?idpId={{ i.id }}"><i class="fa fa-toggle-off"></i></a></td>
                                        {% endif %}
                                        <td style="text-align:center"><a href="deletesamlidp?idpId={{ i.id }}"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" style="max-width: 65vw;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">IDP Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="ModalBody">

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>ACS Url</td>
                      <td id="acsurl">placeholder</td>
                    </tr>
                    <tr>
                      <td>Metadata Download</td>
                      <td><a id="metadata" href="">Download Metadata</a></td>
                    </tr>
                </tbody>
                </table>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <script>
          function showDetail(idpDetail) {
            $('#acsurl').text(idpDetail.acs_url);
            $('#metadata').attr("href", idpDetail.metadata_url);
            $('#detailModal').modal('show');
          }
        </script>

{% endblock %}

{% block footer %}
{% endblock %}
