{% extends templatename+"/template.html" %}

{% block content %}
        {% include '//components/template-modal.html' %}
        <section class="bg-light py-5">
            <div class="container">
                <div class="d-flex align-items-center mb-5">
                    <div class="icon-stack icon-stack-lg bg-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div>
                    <div class="ml-3">
                        <h2 class="mb-0">Account</h2>
                        <p class="lead mb-0">Manage Users</p>
                    </div>
                </div>
                <div class="card border-bottom">
                    <div class="card-body">
                        <div class="d-flex flex-column flex-sm-row" >
                            <div class="dropdown" >
                                <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Groups</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 {% for x in group_list %}
                                     {% if x['profile']['description']|trim != "None"  %}
                                        <a class="dropdown-item" href="/manageusers?group_id={{ x['id'] }}">{{ x['profile']['description']}}</a>
                                     {% else %}
                                        <a class="dropdown-item" href="/manageusers?group_id={{ x['id'] }}">{{ x['profile']['name']}}</a>
                                     {% endif %}
                                 {% endfor %}
                                </div>
                            </div>&nbsp;&nbsp;
                            {% if user_group['profile']['description']|trim != "None"  %}
                                {% set group_title = user_group['profile']['description'] %}
                            {% else %}
                                {% set group_title = user_group['profile']['name'] %}
                            {% endif %}
                            <h2 class="mr-2" style="margin-top:8px">{{ group_title }}</h2>
                            {% if group_title|trim == "All users in your organization"  %}
                                <button type="button" class="btn btn-secondary ml-auto" onclick="window.location.href = 'manageusercreateupdate';">Create User</button>
                            {% else %}
                                <button type="button" class="btn btn-secondary ml-auto" onclick="window.location.href = 'manageusercreateupdate?group_id={{user_group['id']}}';">Create User in {{ group_title }}</button>
                            {% endif %}
                        </div>
                        <br>
                        <div class="separator-2"></div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th style="text-align:center">User Status</th>
                                    <th style="text-align:center">Update</th>
                                    <th style="text-align:center">Suspend</th>
                                    <th style="text-align:center">Reset Password</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in userlist %}
                                     <tr>
                                        <td>{{ i['profile']['firstName']|truncate(15, True) }} {{ i['profile']['lastName']|truncate(15, True) }}</td>
                                        <td>{{ i['profile']['email']|truncate(30, True) }}</td>
                                        <td style="text-align:center">{{ i['status'] }}</td>
                                        <td style="text-align:center"><a href="manageusercreateupdate?user_id={{ i.id}}"><i class="fa fa-edit"></i></a></td>
                                        {% if i['status'] == 'ACTIVE' or i['status'] == 'RECOVERY'  %}
                                               <td style="text-align:center"><a href="suspenduser?user_id={{ i.id}}"><i class="fa fa-toggle-on"></i></a></td>
                                        {% else %}
                                               <td style="text-align:center"><a href="unsuspenduser?user_id={{ i.id}}"><i class="fa fa-toggle-off"></i></a></td>
                                        {% endif %}
                                        <td style="text-align:center"><a href="resetpassword?user_id={{ i.id}}"><i class="fa fa-key"></i></a></td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block footer %}
{% endblock %}