{% extends templatename+"/template.html" %}

{% block header %}
{% endblock %}


{% block content %}
 <section class="bg-light py-5">
    <div class="container">
        <div class="d-flex align-items-center mb-5">
            <div class="icon-stack icon-stack-lg bg-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div>
            <div class="ml-3">
                <h2 class="mb-0">Applications</h2>
            </div>
        </div>
        <div class="card border-bottom" style="min-height: 300px;">
            <div class="card-body">
                    <div id="oidccreate">
                        <div class="form-group"><label for="oidcappname">OpenID Connect Application Name</label>
                        <input class="form-control" id="oidcappname" type="text"></div>
                        <div class="form-group"><label for="oidcNewloginredirecturi">Login redirect URIs</label>
                        <input class="form-control" id="oidcNewloginredirecturi" type="text"></div>
                        <button class="btn btn-primary" type="button" onclick="show_oidcudpate();">Create Application</button>
                    </div>
                    <div id="oidcupdate" style="display: none;">
                        <div class="form-group"><label for="oidcapplabel">Application Name</label>
                        <input class="form-control" id="oidcapplabel" type="text"></div>
                        <div class="form-group"><label for="oidcclientid">Client ID</label>
                        <input class="form-control" id="oidcclientid" type="text" disabled></div>
                        <div class="form-group"><label for="oidcclientsecret">Client Secret</label>
                        <input class="form-control" id="oidcclientsecret" type="text" disabled></div>
                        <div class="form-group"><label for="oidcloginredirecturi">Login redirect URIs</label>
                        <input class="form-control" id="oidcloginredirecturi" type="text"></div>
                        <button class="btn btn-primary" type="button" onclick="update_oidcapp();">Update</button>
                        <button class="btn btn-primary" type="button" onclick="window.location.href = '/manageapps';">Complete</button>
                    </div>
            </div>
        </div>
    </div>
    
    <script>

        function show_oidccreate() {
            $("#oidccreate").show();
            $("#oidcupdate").hide();
            $("#applabel").val("");
            $("#clientid").val("");
            $("#clientsecret").val("");
        }

        function show_oidcudpate() {
            create_oidcapp();
            $("#oidccreate").hide();
            $("#oidcupdate").show();
        }

        function create_oidcapp()
        {
            $.ajax({
                url:'/createoidcapp?appname=' + $("#oidcappname").val() +'&loginredirecturi='+$("#oidcNewloginredirecturi").val(),
                type: "GET",
                complete: function (response) {
                    appresponse = JSON.parse(response.responseText);
                    $("#oidcapplabel").val(appresponse.label);
                    $("#oidcclientid").val(appresponse.credentials.oauthClient.client_id);
                    $("#oidcclientsecret").val(appresponse.credentials.oauthClient.client_secret);
                    $("#oidcloginredirecturi").val(appresponse.settings.oauthClient.redirect_uris);
                },
                error: function () {
                    alert('Error During Creation Process');
                },
            });
        }

        function update_oidcapp()
        {
            window.location.href = '/updateapps?oidcapplabel=' + $("#oidcapplabel").val() +'&oidcloginredirecturi='+$("#oidcloginredirecturi").val() + '&oidcclientid=' + $("#oidcclientid").val();
        }

        </script>
        {% if appinfo %}
            {% if appinfo.settings.oauthClient.application_type == "web" %}
                <script>
                    $("#oidccreate").hide();
                    $("#oidcupdate").show();
                    $("#oidcapplabel").val("{{appinfo.label}}");
                    $("#oidcclientid").val("{{appinfo.credentials.oauthClient.client_id}}");
                    $("#oidcclientsecret").val("******************************");
                    $("#oidcloginredirecturi").val("{{appinfo.settings.oauthClient.redirect_uris[0]}}");
                </script>
            {% endif %}
        {% endif %}
</section>
{% endblock %}

{% block footer %}
{% endblock %}