<div class="card border-bottom">
    <div class="card-header">Enrolled Factors</div>
    <div class="card-body">
       <table class="table table-hover dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
          {% for factor in factors %}
          <tr role="row">
                <td>{{ factor.name }}</td>
                <td>{{ factor.profile }}</td>
                <td><a href="#" class="clickable deleteable" class="btn btn-primary btn-sm" data-id="{{ factor['id'] }}">Remove</a></td>
          </tr>
          {% endfor %}

        </table>
    </div>
    <div class="card-footer">
      <button type="button" id="_mfaAddFactorButton" class="btn btn-primary mr-2 my-1">
        Add a new factor
      </button>
    </div>
</div>


<!-- MFA Enrollment -->
<input type="hidden" id="_mfaFactorID">
<input type="hidden" id="_mfaFactorType">
<input type="hidden" id="_mfaProvider">
<input type="hidden" id="_mfaFactorName">
<input type="hidden" id="userId" value="{{ user_info['sub']  }}">

<div class="modal fade" id="_mfaEnrollmentModal" tabindex="-1" role="dialog" aria-labelledby="_mfaEnrollLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="_mfaEnrollLabel">Enroll your Factor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label  for="_factorEnrollList">Choose a factor:</label>
          <select class="form-control" id="_factorEnrollList"></select>
        </div>

        <!-- sub-form for Okta Verify Push -->
        <div class="form-group" id="_mfaEnrollPushForm">

        </div>

        <!-- sub-form for SMS and voice call factors -->
        <div class="form-group" id="_mfaEnrollOTPForm">
          <label for="_mfaEnrollRecipient">Enter your phone number:</label>
          <input class="form-control" type="tel" id="_mfaEnrollRecipient"><br>
          <button type="button" id="_sendEnrollOTPButton" class="btn btn-primary mr-2 my-1">
            Send SMS
          </button>
        </div>

        <!-- this holds the QR code for Okta Verify and Google Authenticator enrollment -->
        <div class="form-group text-center" id="_mfaEnrollQRCodeForm">
          <div class="overlay-container">
            <img id="_mfaEnrollQRCode" class="overlay-image">
            <div class="overlay-effect hidden">
              <div class="overlay-icon">
              </div>
            </div>
          </div>
          <div class="justify-content-center">Scan this QR code with your smartphone to complete enrollment.</div>
        </div>

        <!-- TOTP, SMS, email and voice all use this field -->
        <div class="form-group" id="_mfaEnrollVerifyCodeForm">
          <label for="_mfaEnrollPassCode">Enter your code:</label>
          <input class="form-control" type="text" id="_mfaEnrollPassCode"><br>
          <button type="button" id="_mfaEnrollVerifyButton" class="btn btn-primary mr-2 my-1">
            Submit
          </button>
        </div>

        <!-- security question -->
        <div class="form-group" id="_mfaEnrollQuestionForm">
          <label for="mfaEnrollQuestion">Question:</label>
          <select class="form-control" id="_mfaEnrollQuestion"></select>
          <br>
          <label for="mfaAnswer">Answer:</label>
          <input class="form-control" type="text" id="_mfaEnrollAnswer" size="40"><br>
          <button type="button" id="_mfaEnrollQuestionButton" class="btn btn-primary mr-2 my-1">
            Submit
          </button>
        </div>

        <!-- security question -->
        <div class="form-group" id="_mfaEnrollWebAuthn">
          <input type="hidden" id="_mfaWebAuthnResponse"/>
          <button type="button" id="_mfaEnrollWebAuthn" onclick="registerWebauthn()" class="btn btn-primary mr-2 my-1">
            Submit
          </button>
          <script>
          function registerWebauthn()
          {
            webauthnresponse = JSON.parse($("#_mfaWebAuthnResponse").val());
            // Convert activation object's challenge and user id from string to binary
            user_id = webauthnresponse._embedded.activation.user.id;
            factor_id = webauthnresponse.id;

            webauthnresponse._embedded.activation.challenge = strToBin(webauthnresponse._embedded.activation.challenge);
            webauthnresponse._embedded.activation.user.id = strToBin(webauthnresponse._embedded.activation.user.id);

            //console.log(webauthnresponse._embedded.activation);
            // navigator.credentials is a global object on WebAuthn-supported clients, used to access WebAuthn API
            navigator.credentials.create({
              publicKey: webauthnresponse._embedded.activation
            })
            .then(function (newCredential) {

              // Get attestation and clientData from callback result, convert from binary to string
              var attestation = binToStr(newCredential.response.attestationObject);
              var clientData = binToStr(newCredential.response.clientDataJSON);
              console.log(attestation);
              console.log(clientData);
              var payload = {
                  "attestation": attestation,
                  "clientData": clientData,
                  "user_id": user_id,
                  "factor_id": factor_id
              };
              console.log(payload);
              $.ajax({
                  url: "/activate_webauthn",
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  data: JSON.stringify(payload),
                  success: data => {
                      var webauthnresponse = JSON.parse(data);
                      if (webauthnresponse.hasOwnProperty('errorSummary'))
                      {
                        $("#_mfaEnrollStatusMessage").text(webauthnresponse.errorSummary);
                      }
                      else
                      {
                         $("#_mfaEnrollStatusMessage").text("Enrollment Complete");
                         $("#_mfaEnrollWebAuthn").hide();
                      }
                      _finishEnrollment();
                  },
                  error: function(xhr, status, error) {
                       $("#_mfaEnrollStatusMessage").text("Status: " + status + ", message: " + error);
                      _finishEnrollment();
                  }
              });

            })
            .catch(function (err) {
                       $("#_mfaEnrollStatusMessage").text("Status: Machine already registered:");
                      _finishEnrollment();

            });
          }

          function getStringHash(str) {
            let hash = 5381;
            let i = str.length;

            while (i) {
              hash = (hash * 33) ^ str.charCodeAt(--i);
            }
            return hash >>> 0;
          };

          function base64UrlSafeToBase64(str) {
            return str.replace(new RegExp('_', 'g'), '/').replace(new RegExp('-', 'g'), '+');
          };

          function binToStr(bin) {
            return btoa(new Uint8Array(bin).reduce((s, byte) => s + String.fromCharCode(byte), ''));
          };

          function strToBin(str) {
            return Uint8Array.from(atob(this.base64UrlSafeToBase64(str)), c => c.charCodeAt(0));
          };
          </script>
        </div>

        <div class="form-group" id="_mfaEnrollStatusForm">
          <span id="_mfaEnrollStatusMessage"></span>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" id="_mfaFinishEnrollButton" class="btn btn-sm btn-default">
          Done
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/js/mfa_enrollment.js"></script>

