<nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light" id="sidenavAccordion" style="margin-bottom: 5px">
    <div class="container">
        {% if config.settings.app_logo != "" %}
             <a href="/index"><img src={{config.settings.app_logo}} border='0' style="max-height:100px;max-width:300px;height:auto;width:auto;"></a>
        {% else %}
             <a class="navbar-brand text-primary" href="/index">{{config.settings.app_name}}</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
        {% endif %}
        {% include config.settings.app_template + '/'+navitems %}
        {% if user_info is none or user_info is not defined %}
                <ul class="navbar-nav align-items-center ml-auto">
                    <li class="nav-item dropdown no-caret mr-3 dropdown-user">
                    <a class="btn-primary btn rounded-pill px-4 ml-lg-4 dropdown-toggle" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <form role="login" class="navbar-form navbar-left" style="margin-bottom: 5px; margin-left: 10px; margin-right: 10px;">
                            <div class="form-group" style="margin-bottom: 5px;margin-top: 5px;">
                             <input type="text" id="login-un" name="username" placeholder="Username" class="form-control" autocomplete="off" style="padding: 5px;margin-bottom:8px;">
                             <input type="password" id="login-pw" name="password" placeholder="Password" class="form-control" autocomplete="off" style="padding: 5px;margin-bottom:10px;">
                            </div>
                            <button type="button" id="login-button" onclick="do_login(this.form.username.value, this.form.password.value)" class="btn btn-primary" style="margin-bottom: 5px; margin-left: 5px; margin-right: 5px;float: right;">Sign In</button>
                        </form>
                    </div>
                    </li>
                </ul>
        {% else %}
                <ul class="navbar-nav align-items-center ml-auto">
                    <li class="nav-item dropdown no-caret mr-3 dropdown-user">
                    <a class="btn-primary btn rounded-pill px-4 ml-lg-4 dropdown-toggle" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi {{ user_info.name }}</a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">{{ user_info.name }}</div>
                                <div class="dropdown-user-details-email">{{ user_info.email }}</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        {% if config.settings.app_template in request.path  %}
                        <a class="dropdown-item" href="profile"><div class="dropdown-item-icon"><i data-feather="settings"></i></div>Profile</a>
                        {% else %}
                        <a class="dropdown-item" href="{{ config.settings.app_template }}/profile"><div class="dropdown-item-icon"><i data-feather="settings"></i></div>Profile</a>
                        {% endif %}
                        <a class="dropdown-item" href="/logout"><div class="dropdown-item-icon"><i data-feather="log-out"></i></div>Logout</a>
                    </div>
                    </li>
                </ul>
        {% endif %}
    </div>
</nav>


{% if user_info is none or user_info is not defined %}




<input type="hidden" id="state" name="state" value="">
<!-- Modal -->
<div class="modal fade" id="MFAModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Multi-Factor Check</h5><br>
                </div>
                <style>
                #okta-sign-in.auth-container.main-container
                {
                    background-color: #fff;
                    border-color: #fff #fff #fff;
                    box-shadow: none;
                }
                #okta-sign-in .auth-header
                {
                    border-bottom: none;
                }
                #okta-sign-in.auth-container.main-container
                {
                    margin-top: 0px;
                }
                </style>
                <div class="modal-body" id="mfamodalbody">
                    <div id="sign-in-widget-modal"></div>
                </div>
                <div class="modal-footer">
                <button class="btn btn-secondary" type="button" onclick="do_resetwidget()">Close</button>
                </div>
        </div>
    </div>
</div>



<script type="text/javascript">
var oktamodalsigninmfa ="1";
function showwidget()
{
    console.log("showwidget()");
    var stateval = $("#state").val();
    try
    {
        oktamodalsigninmfa = new OktaSignIn({
          baseUrl: "{{config.okta_org_name}}",
          clientId: "{{config.client_id}}",
          redirectUri: "{{config.redirect_uri}}",
          stateToken: stateval,
          features: {
            registration: true,                 // Enable self-service registration flow
            rememberMe: true,                   // Setting to false will remove the checkbox to save username
            multiOptionalFactorEnroll: true,  // Allow users to enroll in multiple optional factors before finishing the authentication flow.
            selfServiceUnlock: true,          // Will enable unlock in addition to forgotten password
            smsRecovery: true,                // Enable SMS-based account recovery
            callRecovery: true,               // Enable voice call-based account recovery
          },
          authParams: {
            issuer: "{{config.issuer}}",
            responseType: 'code',
            responseMode: 'form_post',
            state: '{{state}}',
            display: 'page',
            scopes: ['openid', 'profile', 'email']
          },
        });

        oktamodalsigninmfa.renderEl(
          { el: '#sign-in-widget-modal' },
          function (res) {}
        );

    }
    catch(err) {
        console.log(err.message);
    }
    $("#MFAModalCenter").modal("show");
}



function do_resetwidget() {
                        console.log("resetwidget()");
                        oktamodalsigninmfa.remove();
                        $("#MFAModalCenter").modal("hide");
                    }

function do_login(un, pw) {
        console.log("dologin()");

        var authClient = new OktaAuth({
            url: '{{config.okta_org_name}}',
            clientId: '{{config.client_id}}',
            redirectUri: '{{ config.redirect_uri}}',
            issuer: '{{config.issuer}}'
        });

        authClient.signIn({
            username: un,
            password: pw
        })
        .then(function(transaction) {
            if (transaction.status === 'SUCCESS') {
                // Step #1: get sessionToken
                console.log('sessionToken = ', transaction.sessionToken);

                // Step #2: retrieving a session cookie via OpenID Connect Authorization Endpoint
                // Requires the user be authenticated already (i.e. the transaction.sessionToken exists. See Step #1)
                // Uses response_mode=form_post: This will POST authorization_code and state to the redirectUri
                authClient.token.getWithRedirect({
                    responseType: 'code',
                    responseMode: 'form_post',
                    state: '{{state}}',
                    sessionToken: transaction.sessionToken,
                    scopes: ['openid', 'profile', 'email'],
                });
            }
            if (transaction.status === 'MFA_REQUIRED') {
               console.log("MFA_REQUIRED");
               $("#state").val(transaction.data.stateToken);
               showwidget();
            }
            else {

                throw 'We cannot handle the ' + transaction.status + ' status';
            }
        })
        .fail(function(err) {
            console.error(err);
        });
}
</script>
{% endif %}
