                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>App Type</th>
                            <th>View</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if applist is defined %}
                            {% for app in applist %}
                                {% set oauthinfo = app.settings.oauthClient%}
                                {% if oauthinfo is defined %}
                                    {% if oauthinfo.application_type == 'service' %}
                                      <tr>
                                        <td>{{ app['label'] }}</td>
                                        <td>{{ oauthinfo.application_type }}</td>
                                        <td>
                                            <a href="/editapps?appid={{ app['id'] }}">View</a>
                                        </td>
                                        <td>
                                         <a href="/deleteapps?appid={{ app['id'] }}">Delete</a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>