                    {% with navitems=mynavitems %}
                        <script src="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/js/okta-auth-js.min.js" type="text/javascript"></script>
                        <script src="https://global.oktacdn.com/okta-signin-widget/3.8.2/js/okta-sign-in.min.js" type="text/javascript"></script>
                        <link href="https://global.oktacdn.com/okta-signin-widget/3.8.2/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
                        {% include '//components/template-singlesignon.html' %}
                        {% if config.settings.app_loginmethod == 'custom-widget' %}
                            <!--custom header widget-->
                            {% include '//components/template-navigation-custom-login.html' %}
                        {% else %}
                            <!--standard widget-->
                            {% include '//components/template-navigation-widget-login.html' %}
                        {% endif %}
                    {% endwith %}