<nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
    {% if config.settings.app_logo != "" %}
        <a href="/{{ config.settings.app_template }}/adminhome"><img src={{config.settings.app_logo}} border='0' style="max-height:50px;max-width:200px;height:auto;width:auto;"></a>
    {% else %}
        <a class="navbar-brand text-primary" href="/{{ config.settings.app_template }}/adminhome">{{config.settings.app_name}}</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
    {% endif %}
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle" href="#"><i data-feather="menu"></i></button>
    <ul class="navbar-nav align-items-center ml-auto">
        <li class="nav-item dropdown no-caret mr-3">
            <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="d-inline d-md-none font-weight-500">Docs</div>
                <div class="d-none d-md-inline font-weight-500">Documentation</div>
                <i class="fas fa-chevron-right dropdown-arrow"></i></a>
            <div class="dropdown-menu dropdown-menu-right py-0 o-hidden mr-n15 mr-lg-0 animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                <a class="dropdown-item py-3" href="https://developer.okta.com/docs/" target="_blank">
                    <div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="book"></i></div>
                    <div>
                        <div class="small text-gray-500">Documentation</div>
                       Developer Documentation
                    </div>
                </a>
            </div>
        </li>
        <li class="nav-item dropdown no-caret mr-3 dropdown-user">
                    <a class="px-4 ml-lg-4 dropdown-toggle" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi {{ user_info.name }}</a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">{{ user_info.name }}</div>
                                <div class="dropdown-user-details-email">{{ user_info.email }}</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/{{ config.settings.app_template }}/profile"><div class="dropdown-item-icon"><i data-feather="settings"></i></div>Profile</a>
                        <a class="dropdown-item" href="/logout"><div class="dropdown-item-icon"><i data-feather="log-out"></i></div>Logout</a>
                    </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">
            <div class="sidenav-menu">
                <div class="nav accordion" id="accordionSidenav">
                    <div class="sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseDashboards" aria-expanded="true" aria-controls="collapseDashboards">
                        <div class="nav-link-icon"><i data-feather="activity"></i></div>
                        Dashboards
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapseDashboards" data-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" href="/{{ config.settings.app_template }}/adminhome">Home</a>
                            <a class="nav-link" href="/{{ config.settings.app_template }}/profile">Your Profile</a>
                            <a class="nav-link" href="/userapps">Your Apps</a>
                        </nav>
                    </div>
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTools">
                        <div class="nav-link-icon"><i data-feather="tool"></i></div>
                        User Management
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapseTools" data-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" href="/manageusercreateupdate">Create User</a>
                            <a class="nav-link" href="/manageusers">Basic Functions</a>
                            <a class="nav-link" href="/{{ config.settings.app_template }}/users_advanced">Advanced Functions</a>
                        </nav>
                    </div>
                     <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseKeys" aria-expanded="true" aria-controls="collapseKeys">
                        <div class="nav-link-icon"><i data-feather="key"></i></div>
                        User Keys
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapseKeys" data-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" href="/{{ config.settings.app_template }}/users_keysetup">Key Management</a>
                        </nav>
                    </div>



                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseIDPs" aria-expanded="true" aria-controls="collapseIDPs">
                       <div class="nav-link-icon"><i data-feather="link"></i></div>
                       IDP Management
                       <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                   </a>
                   <div class="collapse show" id="collapseIDPs" data-parent="#accordionSidenav">
                       <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                           <a class="nav-link" href="/manageidps">Manage SAML IDPs</a>
                       </nav>
                   </div>


                </div>
            </div>
            <div class="sidenav-footer">
                <div class="sidenav-footer-content">
                    <div class="sidenav-footer-subtitle">Logged in as:</div>
                    <div class="sidenav-footer-title">{{ user_info.name }}</div>
                </div>
            </div>
        </nav>
    </div>
