<section class="main-container">
    <div class="container" >
        <div class="row">
          <div class="dropdown col-md-12 text-right">
            <button class="btn btn-primary rounded-pill dropdown-toggle" id="language" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a Language</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" onclick="changelanguage('cs')">Czech</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('da')">Danish</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('de')">German</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('el')">Greek</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('en')">English</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('es')">Spanish</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('fi')">Finnish</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('fr')">French</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('hu')">Hungarian</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('id')">Indonesian</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('it')">Italian</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ja')">Japanese</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ko')">Korean</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ms')">Malaysian</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('nb')">Norwegian</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('nl-NL')">Dutch</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('pl')">Polish</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('pt-BR')">Portuguese (Brazil)</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ro')">Romanian</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ru')">Russian</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('sv')">Swedish</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('th')">Thai</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('tr')">Turkish</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('uk')">Ukrainian</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('zh-CN')">Chinese (PRC)</a>
                <a value="press" class="dropdown-item" href="#" onclick="changelanguage('zh-TW')">Chinese (Taiwan)</a>
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
        <!-- main start -->
        <!-- ================ -->
          <div class="main col-12">
            <div class="form-block center-block p-30 light-gray-bg border-clear">
              <input name="language" id="language" class="form-control" type="hidden" value="en">

              <div id="sign-in-widget"></div>
              <script type="text/javascript">
                console.log("Starting");
                signInWidgetConfig = {
                  baseUrl: "{{config.okta_org_name}}",
                  logo: "{{config.settings.app_logo}}",
                  clientId: "{{config.client_id}}",
                  redirectUri: "{{config.redirect_uri}}",
                  useInteractionCodeFlow: true,
                  language: function () {
                    newlang = $("#language").val();
                    console.log(newlang);
                    return newlang;
                  },
                  i18n: {
                    en: {
                      'primaryauth.title': "Sign in to {{config.settings.app_name|safe}}"
                    }
                  },
                  authParams: {
                    issuer: "{{config.issuer}}",
                    scopes: ['openid', 'profile', 'email'],
                    state: "{{config.settings.app_post_login_landing_url}}",
                    tokenManager: {
                      storage: 'cookie'
                    },
                    storageManager: {
                      token: {
                        storageTypes: [
                          'localStorage',
                          'sessionStorage',
                          'cookie'
                        ],
                        useMultipleCookies: false // puts each token in its own cookie
                      }
                    }
                  },
                  transformUsername: lookupAltUsername
                };

                signInWidget = new OktaSignIn(signInWidgetConfig);
                signInWidget.showSignInToGetTokens({
                  // Assumes there is an empty element on the page with an id of 'osw-container'
                  el: '#sign-in-widget'
                }).then(function(tokens) {
                  // Store tokens
                  signInWidget.authClient.tokenManager.setTokens(tokens);
                  // Remove widget
                  signInWidget.remove();
                  // Can now render in an authenticated state
                  location.href = signInWidgetConfig.authParams.state;
                }).catch(function(error) {
                  // Handle error
                  console.log(error);
                })
              </script>
            </div>
          </div>
        </div>
        </div>
    </div>

</section>
<!-- page-wrapper end -->