<div class="form-row">
    <div class="form-group col-md-6"><label class="small text-gray-600" for="firstname">First Name</label>
        <input class="form-control rounded-pill" name="firstname" id="firstname" type="text" required="required"/>
    </div>
    <div class="form-group col-md-6"><label class="small text-gray-600" for="lastname">Last Name</label>
        <input class="form-control rounded-pill" name="lastname" id="lastname" type="text"  required="required"/>
    </div>
    <div class="form-group col-md-12"><label class="small text-gray-600" for="email">Email address</label>
        <input class="form-control rounded-pill" name="email" id="email" type="email"  required="required" />
    </div>
    <div class="form-group col-md-12"><label class="small text-gray-600" for="organization">Company or Organization</label>
        <input class="form-control rounded-pill" name="organization" id="organization" type="text"  required="required" />
    </div>
    <button class="btn btn-primary btn-marketing btn-block rounded-pill mt-4" type="submit">Sign Up Now</button>
</div>

