<div class="card border-bottom">
    <div class="card-header">Granted Permissions</div>
    <div class="card-body">
       <table class="table table-hover dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
          <tr>
              <th>Scope</th>
              <th>Description</th>
              <th>Date Granted</th>
          </tr>
          <tr>
              <td>View your profile information</td>
              <td>The exact data varies based on what profile information you have provided, such as: name, time zone, picture, or birthday.</td>
              <td>2022-03-10T14:42:31.000Z</td>
          </tr>

        </table>
    </div>
    <div class="card-footer">
      <button type="button" id="_mfaAddFactorButton" class="btn btn-primary mr-2 my-1">
        TODO
      </button>
    </div>
</div>
