<script src="https://global.oktacdn.com/okta-auth-js/5.10.0/okta-auth-js.min.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[

    var authClient = new OktaAuth({
        url: "{{config.okta_org_name}}",
        clientId: "{{config.client_id}}",
        redirectUri: "{{config.redirect_uri}}",
        issuer: "{{config.issuer}}"
    });

    $(document).ready(function() {

        authClient.token.parseFromUrl()
            .then(function(res) {
                var state = res.state; // passed to getWithRedirect(), can be any string

                // manage token or tokens
                var tokens = res.tokens;

                // Do something with tokens, such as
                authClient.tokenManager.setTokens(tokens);
            })
            .catch(function(err) {
                // handle OAuthError
        });

        authClient.tokenManager.getTokens()
            .then(({ accessToken, idToken }) => {
                // handle tokens
                authClient.token.verify(idToken)
                    .then(function() {
                        // ID token is valid
                        // do nothing for now
                    })
                    .catch(function(err) {
                        // ID token is invalid/missing
                        authClient.session.get()
                            .then(function(response) {
                                console.log(response);
                                // session exists
                                if (response.status === 'ACTIVE') {
                                    console.log("Session Active");
                                    $("#sessionId").val(response.id);

                                    var getNewTokenUrl = "{{config.get_new_token_url|safe}}";
                                    var error = "{{error_message}}"
                                    if (error == "" ) {
                                        if (getNewTokenUrl != "" ) {
                                            location.href=getNewTokenUrl;
                                        }
                                    } else {
                                       console.log(error) ;
                                    }
                                }
                            })
                    })
            })
            .catch(function(err) {
                // handle expired/invalid/empty tokens
                console.log(err);
            })
    });
//]]>
</script>