 <!-- Custom css -->
    <section class="main-container">
        <div class="container" >
           <div class="row">
             <div class="dropdown col-md-12 text-right">
                <button class="btn btn-primary rounded-pill dropdown-toggle" id="language" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a Language</button>
                <style>
                  .dropdown-item {
                        font-size: 11px;
                  }
                </style>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" onclick="changelanguage('cs')">Czech</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('da')">Danish</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('de')">German</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('el')">Greek</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('en')">English</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('es')">Spanish</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('fi')">Finnish</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('fr')">French</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('hu')">Hungarian</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('id')">Indonesian</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('it')">Italian</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ja')">Japanese</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ko')">Korean</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ms')">Malaysian</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('nb')">Norwegian</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('nl-NL')">Dutch</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('pl')">Polish</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('pt-BR')">Portuguese (Brazil)</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ro')">Romanian</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('ru')">Russian</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('sv')">Swedish</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('th')">Thai</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('tr')">Turkish</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('uk')">Ukrainian</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('zh-CN')">Chinese (PRC)</a>
                    <a value="press" class="dropdown-item" href="#" onclick="changelanguage('zh-TW')">Chinese (Taiwan)</a>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
            <!-- main start -->
            <!-- ================ -->
             <div class="main col-12">
                <div class="form-block center-block p-30 light-gray-bg border-clear">
                  <style type="text/css">
                    #okta-sign-in.auth-container .button-primary
                    {
                      background-color: {{config.settings.app_primary_color}};
                      background: -webkit-gradient(linear,left top,left bottom,from({{config.settings.app_primary_color}}),to({{config.settings.app_primary_color}}));
                      background: -webkit-linear-gradient({{config.settings.app_primary_color}},{{config.settings.app_primary_color}});
                      background: linear-gradient({{config.settings.app_primary_color}},{{config.settings.app_primary_color}});
                      border-color: {{config.settings.app_primary_color}} {{config.settings.app_primary_color}} {{config.settings.app_primary_color}};
                    }

                    #okta-sign-in.auth-container .button-primary:active, #okta-sign-in.auth-container .button-primary:focus, #okta-sign-in.auth-container .button-primary:hover
                    {
                      background-color: {{config.settings.app_primary_color}};
                      background: -webkit-gradient(linear,left top,left bottom,from({{config.settings.app_primary_color}}),to({{config.settings.app_primary_color}}));
                      background: -webkit-linear-gradient({{config.settings.app_primary_color}},{{config.settings.app_primary_color}});
                      background: linear-gradient({{config.settings.app_primary_color}},{{config.settings.app_primary_color}});
                      border-color: {{config.settings.app_primary_color}} {{config.settings.app_primary_color}} {{config.settings.app_primary_color}};
                    }

                    #okta-sign-in.auth-container .okta-form-input-field.focused-input
                    {
                      border-color: {{config.settings.app_primary_color}};
                    }

                    #okta-sign-in .focused-input, #okta-sign-in .link.help:focus
                    {
                      box-shadow: 0 0 8px {{config.settings.app_secondary_color}};
                    }

                    #okta-sign-in .registration-container .registration-link
                    {
                      margin-left: 10px;
                      color: {{config.settings.app_primary_color}};
                    }

                    #okta-sign-in.auth-container .button.button-primary.link-button-disabled
                    {
                        color: #fff;
                        background-color: {{config.settings.app_primary_color}};
                        border-color: {{config.settings.app_primary_color}};
                        background-image: none;
                        box-shadow: none
                    }

                  </style>
                  <script>
                  function changelanguage(lang){
                    $("#language").val(lang);
                    console.log(signInWidget);
                    signInWidget.remove();
                    signInWidget.renderEl({el: '#sign-in-widget'});
                  }
                  </script>
                  <input name="language" id="language" class="form-control" type="hidden" value="en">
                  
                  <div id="sign-in-widget"></div>
                  <script type="text/javascript">
                   signInWidgetConfig = {
                      baseUrl: "{{config.okta_org_name}}",
                      logo: "{{config.settings.app_logo}}",
                      clientId: "{{config.client_id}}",
                      redirectUri: "{{config.redirect_uri}}",
                      language: function () {
                        newlang = $("#language").val();
                        console.log(newlang);
                        return newlang;
                      },
                      i18n: {
                        en: {
                          'primaryauth.title': 'Sign in to {{config.settings.app_name}}'
                        }
                      },
                      features: {
                        {% if idp %}
                          {% if idptype %}
                        idpDiscovery:true,
                          {% endif %}
                        {% endif %}
                        registration: true,                 // Enable self-service registration flow
                        rememberMe: true,                   // Setting to false will remove the checkbox to save username
                        multiOptionalFactorEnroll: true,  // Allow users to enroll in multiple optional factors before finishing the authentication flow.
                        selfServiceUnlock: true,          // Will enable unlock in addition to forgotten password
                        smsRecovery: true,                // Enable SMS-based account recovery
                        callRecovery: true               // Enable voice call-based account recovery
                      },
                      {% if idp %}
                      {% if idptype %}
                      idpDiscovery: {
                        requestContext: '{{request.url_root | replace("http://", "https://")  }}'
                      },
                      {% endif %}
                      {% endif %}
                      {% if idp %}
                      idps: [
                        {% if google %}
                        {type: 'GOOGLE', id: '{{google}}'},
                        {% endif %}
                        {% if facebook %}
                        {type: 'FACEBOOK', id: '{{facebook}}'},
                        {% endif %}
                        {% if microsoft %}
                        {type: 'MICROSOFT', id: '{{microsoft}}'},
                        {% endif %}
                        {% if linkedin %}
                        {type: 'LINKEDIN', id: '{{linkedin}}'}
                        {% endif %}
                      ],
                      {% endif %}
                      authParams: {
                        issuer: "{{config.issuer}}",
                        responseType: 'code',
                        responseMode: 'form_post',
                        state: '{{state}}',
                        display: 'page',
                        scopes: ['openid', 'profile', 'email'] },
                     transformUsername: function (username, operation) {
                        if (isNaN(username))
                         {
                           return username;
                         }
                         else
                         {
                          nname = "";
                          $.ajax({
                              'async': false,
                              'type': "GET",
                              'url': "/get_username/"+username,
                              'success': function (data) {
                                 nname = data;
                              }
                            });
                            console.log(nname);
                            return nname;
                          }
                      },
                    };

                    signInWidget = new OktaSignIn(signInWidgetConfig);
                    signInWidget.renderEl({el: '#sign-in-widget'});
                  </script>
                </div>
              </div>
            </div>
            </div>
        </div>

    </section>
    <!-- page-wrapper end -->