    <section>
        <br /><br />
        {% if color=="white" %}
        <div class="svg-border-rounded text-white">
        {% else %}
        <div class="svg-border-rounded text-black">
        {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
        </div>
    </section>
        {% if color=="white" %}
        <footer class="footer pt-10 pb-5 mt-auto bg-white footer-light">
        {% else %}
        <footer class="footer pt-10 pb-5 mt-auto bg-black footer-dark">
        {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-brand">{{ config.settings.app_name }} </div>
                        <div class="mb-3">{{ config.settings.app_slogan }}</div>
                        <div class="icon-list-social mb-5">
                            <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-instagram"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-facebook"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-github"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                         {% include config.settings.app_template + '/navitems.html' %}
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row align-items-center">
                    <div class="col-md-6 small">Copyright &copy; {{ config.settings.app_name }}</div>
                    <div class="col-md-6 text-md-right small">
                        <a href="javascript:void(0);">Privacy Policy</a>
                        &middot;
                        <a href="javascript:void(0);">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>