<!-- 
Modal Popup 
Allows developer to add modal to page. 

Reads URL query string for 'message='. It will not show up if this query string value does not exist.

It takes the value of 'message=' and outputs it in modal

-->
<!-- Start Modal -->
<script type="text/javascript">
$(window).on('load',function(){
    var message = getUrlParameter('message');
    //console.log(message);
    window.history.replaceState(null, null, window.location.pathname); 
    if (!message)
    {
      //do nothing
    }
    else
    {
      $('#basicExampleModal').modal('show');
    }
   
});

var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
};
</script>

<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             {{ request.args.get('message') }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
<!-- End Modal -->