<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{ config.settings.app_name }}</title>
    <link href="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/css/styles.css" rel="stylesheet" />
    <link href="/styles" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/css/aos.css" />
    {% if config.settings.app_favicon|length > 0  %}
    <link rel="icon" type="image/x-icon" href="{{  config.settings.app_favicon  }}" />
    {% else %}
    <link rel="icon" type="image/x-icon" href="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/img/favicon.ico" />
    {% endif %}
    <script data-search-pseudo-elements defer src="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/js/feather.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/js/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178628454-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-178628454-2', {
            'custom_map': {'dimension1': 'username',
            'dimension2': 'zartantype'
          }
        });
      {% if user_info is defined %}
        gtag('event', 'udpinfo', {'username': '{{ user_info.email }}', 'zartantype': '{{ config.settings.app_template  }}'});
        gtag('set', {'user_id': '{{ user_info.email }}'});
      {% else %}
        gtag('event', 'udpinfo', {'username': '', 'zartantype': '{{ config.settings.app_template  }}'});
      {% endif %}
    </script>
</head>