<script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-auth-js/1.17.0/okta-auth-js.min.js" type="text/javascript"></script>
<script src="https://global.oktacdn.com/okta-signin-widget/3.8.2/js/okta-sign-in.min.js" type="text/javascript"></script>
<link href="https://global.oktacdn.com/okta-signin-widget/3.8.2/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>

<input type="hidden" id="state" name="state" value="">
<!-- Modal -->
<div class="modal fade" id="MFAModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
                <div class="modal-header" style="padding: 0 0 0 0;border-bottom: 0px;"></div>
                <div class="modal-body" id="mfamodalbody">
                    <iframe name="iFrameName" width="480" height="650" frameBorder="0" ></iframe>
                </div>
                <div class="modal-footer">
                <a href="javascript:void(0);" tabindex="0" data-trigger="focus" title="" data-container="body" data-toggle="popover" data-placement="top" data-content="Please ensure you have enabled IFrame Embedding on your tentant. Please go to Okta Tenant under Settings then Customization to Allow IFrame embedding." data-original-title="MFA Info"><i data-feather="info"></i></a>
                <button class="btn btn-secondary" type="button" onclick="completedmfa('False')">Close</button>
                </div>
        </div>
    </div>
</div>
 
<script>
 
var script_to_run;
function checkmfa(functioncall) {
        console.log("MFA_REQUIRED");   
        script_to_run=functioncall;
        var site = "{{config.settings.app_stepup_auth_clienturl}}";
        document.getElementsByName('iFrameName')[0].src = site;
         $("#MFAModalCenter").modal("show");
}

function completedmfa(test_token) {
        console.log("MFA_COMPLETED");   
        script_to_run(test_token);
        $("#MFAModalCenter").modal("hide");
        
}
</script>
