<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<!-- OKTA JS  -->
<script src="/okta-auth-js-2.8.0/okta-auth-js.min.js" type="text/javascript"></script>
<script>
var oktaTransaction = undefined;
var mfaSelectDlg = undefined;
var username = "";
var password = "";
var pushTimer;

var config = {
  url: '{{config.OKTA_ORG}}',

  // Optional config
  issuer: '{{config.OKTA_ORG}}/oauth2/{{config.OKTA_AUTHSERVER_ID}}',
  clientId: '{{config.OKTA_CLIENT_ID}}',
  redirectUri: '{{config.OKTA_REDIRECT_URI}}',

  // Override the default authorize and userinfo URLs
  authorizeUrl: '{{config.OKTA_ISSUER}}/v1/authorize',
  userinfoUrl: '{{config.OKTA_ISSUER}}/v1/userinfo',

  // TokenManager config
  tokenManager: {
    storage: 'sessionStorage',
    secure: true,
    autoRenew: true
  }
};

var authClient = new OktaAuth(config);


$(document).ready(function() {
  console.log("READY!")
  $("#loginButton").on("click", handleLoginButtonClick);
  $("#verifyButton").on("click", handleVerifyButtonClick);
  $("#factorPicker").on("change", handleFactorPickerChange);
  $("#username").on("focusout", handleUserNameChange);

  mfaSelectDlg = $( "#mfaSelectDlg" ).dialog({
    autoOpen: false,
    width: 350,
    modal: true
  });

  authClient.session.exists()
    .then(function(exists) {
      if (exists) {
        console.log("LOGGED IN");

        $("#signInLabel").hide();
        $("#signedInLabel").show();
        //$("#signedInDisplay").show();
        $("#signedOutDisplay").hide();
      } else {
        console.log("NOT LOGGED IN");
        $("#signInLabel").show();
        $("#signedInLabel").hide();
        $("#signedInDisplay").hide();
        //$("#signedOutDisplay").show();
      }
    });

});

function handleFactorPickerChange() {
  if($("#factorPicker").val() == "password") {
    $("#passwordLabel").show();
  } else {
    $("#passwordLabel").hide();
  }
}

function handleUserNameChange() {

  var authBody = {
    "username": $("#username").val(),
    "options": {
      "multiOptionalFactorEnroll": true,
      "warnBeforePasswordExpired": true
    }
  }

  $.ajax({
    type: "POST",
    url: "{{config.OKTA_ORG}}/api/v1/authn",
    data: JSON.stringify(authBody),
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    success: function(response) {
      console.log(response);
      oktaTransaction = response;
    }
  });

}

function handleVerifyButtonClick() {
  console.log("start handleVerifyButtonClick()");
  password = $("#password").val();

  console.log("username: " + username);

  console.log(oktaTransaction);

  var postBody = {"stateToken":oktaTransaction.stateToken}
  if("password" == $("#factorPicker").val()) {
    postBody.password = password;
  }

  for(factorIndex in oktaTransaction._embedded.factors) {
    var factor = oktaTransaction._embedded.factors[factorIndex];

    console.log(factor);

    if(factor.factorType == $("#factorPicker").val()) {

      $.ajax({
        type: "POST",
        url: factor._links.verify.href,
        data: JSON.stringify(postBody),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function(response) {
          console.log("called verify endpoint: " + factor._links.verify.href)
          console.log(response);

          if("SUCCESS" == response.status) {

            redirectToGetTokens(response.sessionToken);
            mfaSelectDlg.dialog("close");

          } else if("MFA_CHALLENGE" == response.status) {
            if(factor.factorType == "push") {
              var pushUrl = factor._links.verify.href + "?autoPush=true"

              pushTimer = setInterval( checkPushVerification, 1000,  pushUrl, response.stateToken);
              //checkPushVerification(pushUrl, response.stateToken);

            } else if(factor.factorType == "webauthn") {
              var publicKey = {
              challenge: Uint8Array.from(
                          response._embedded.factor._embedded.challenge.challenge, c => c.charCodeAt(0)),
              allowCredentials: [
                  {
                    type: "public-key",
                    id: Uint8Array.from(
                      response._embedded.factor.profile.credentialId, c => c.charCodeAt(0))
                  }
                ]
              };

              console.log(publicKey);

              navigator.credentials.get({ 'publicKey': publicKey })
                .then((getAssertionResponse) => {
                    alert('SUCCESSFULLY GOT AN ASSERTION! Open your browser console!')
                    console.log('SUCCESSFULLY GOT AN ASSERTION!', getAssertionResponse)
                })
                .catch((error) => {
                    alert('Open your browser console!')
                    console.log('FAIL', error)
                });
            } else {
              console.log("Failed to handle factor");
            }

          } else {
            console.log("Failed to handle auth");
          }

        }
      });

      break;
    }
  }
}

function checkPushVerification(pushVerifyURL, stateToken) {
  console.log("start checkPushVerification()");

  $.ajax({
      type: "POST",
      url: pushVerifyURL,
      data: JSON.stringify({stateToken: stateToken}),
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      success: function(response) {
        console.log(response);
        if(response.status == "SUCCESS") {
          clearInterval(pushTimer);
          mfaSelectDlg.dialog("close");
          redirectToGetTokens(response.sessionToken);
        }

      }
    });
}

function redirectToGetTokens(sessionToken) {
  console.log("start redirectToGetTokens()");
  authClient.token.getWithRedirect({
    //responseMode: "form_post",
    responseType: 'code', // or array of types
    responseMode: "form_post",
    sessionToken: sessionToken, // optional if the user has an existing Okta session
    scopes: ['openid', 'email', "profile", "HyattCustomer", "offline_access"],
    redirectUri: "{{config.OKTA_REDIRECT_URI}}"
  })
  .then(function(tokenOrTokens) {
    // manage token or tokens
    console.log("tokenOrTokens:");
    console.log(tokenOrTokens);
  })
  .catch(function(err) {
    // handle OAuthError
    console.log("err:");
    console.log(err);
  });
}

function handleLoginButtonClick() {
  console.log("start handleLoginButtonClick()");
  username = $("#username").val();
  mfaSelectDlg.dialog("open");
  $("#signInMenu").removeClass("is-open");
}
</script>
