                    {% with navitems=mynavitems %}
                        {% include '//components/template-singlesignon.html' %}
                        {% if config.settings.app_loginmethod == 'custom-widget' %}
                            <!--custom header widget-->
                            {% include '//components/template-navigation-custom-login.html' %}
                        {% else %}
                            <!--standard widget-->
                            {% include '//components/template-navigation-widget-login.html' %}
                        {% endif %}
                    {% endwith %}