<script type="text/javascript">
    //<![CDATA[
    var authClient = new OktaAuth({
        url: "{{config.okta_org_name}}",
        clientId: "{{config.client_id}}",
        redirectUri: "{{config.redirect_uri}}",
        issuer: "{{config.issuer}}",
        scopes: ['openid', 'profile', 'email'],
        tokenManager: {
            storage: 'cookie'
        },
        storageManager: {
            token: {
                storageTypes: [
                    'localStorage',
                    'sessionStorage',
                    'cookie'
                ],
                useMultipleCookies: false // puts each token in its own cookie
            }
        }
    });

    $(document).ready(function () {
        authClient.tokenManager.getTokens()
            .then(({ accessToken, idToken }) => {
                // handle tokens
                authClient.token.verify(idToken)
                    .then(function () {
                        // ID token is valid
                        // do nothing for now
                        console.log("tokens are good...");

                    })
                    .catch(function (err) {
                        // ID token is invalid/missing

                        authClient.session.get()
                            .then(function (session) {
                                // session exists
                                if (session.status == "ACTIVE") {
                                    console.log("Session Active");
                                    $("#sessionId").val(session.id);
                                    authClient.token.getWithoutPrompt({
                                        responseType: ['token', 'id_token']
                                    }).then(function (res) {
                                        console.log("results", res);
                                        var tokens = res.tokens;
                                        console.log(tokens);
                                        // Do something with tokens, such as
                                        authClient.tokenManager.setTokens(tokens);
                                        location.reload();
                                    })
                                        .catch(function (err) {
                                            console.log(err);
                                        })
                                }
                            })
                    })
            })
            .catch(function (err) {
                // handle expired/invalid/empty tokens
                console.log(err);
            })
    });
//]]>
</script>