        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item"><a class="nav-link" href="../index">Home</a></li>
                <li class="nav-item dropdown dropdown-xl no-caret">
                    <a class="nav-link dropdown-toggle" href="/registration" role="button">Apply</a>
                    <a class="nav-link dropdown-toggle" href="/login" role="button">Register for Access</a>
                    <a class="nav-link dropdown-toggle" href="#" role="button">Benefits</a>
                    <a class="nav-link dropdown-toggle" href="#" role="button">Activate Card</a>
                </li>
            </ul>
        </div>