{% include '//components/template-header-meta.html' %}
<script src="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/js/okta-auth-js.min.js" type="text/javascript"></script>
<script src="https://global.oktacdn.com/okta-signin-widget/5.2.2/js/okta-sign-in.min.js" type="text/javascript"></script>
<link href="https://global.oktacdn.com/okta-signin-widget/5.2.2/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
{% include '/components/template-login-widget.html' %}
{% include '//components/template-footer-scripts.html' %}