<!--Do Not Remove any parts of this document unless you expect to not use out of the box behaviours-->
<html lang="en">
    {% include '//components/template-header-meta-admin.html' %} 
    <body class="nav-fixed">
        {% if user_info is defined %}
            {% include '//components/template-navigation-admin.html' %}
        {% endif %}
            <div id="layoutSidenav_content">
                <main style="height: 100%;">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
        {% if user_info is defined %}
            {% include '//components/template-footer-scripts-admin.html' %}
        {% endif %}
    </body>
</html>
