{% extends "developer/template.html" %}

{% block content %}
       <section class="bg-light py-5">
            <div class="container">
                <div class="d-flex align-items-center mb-5">
                    <div class="icon-stack icon-stack-lg bg-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div>
                    <div class="ml-3">
                        <h2 class="mb-0">Applications</h2>
                        <p class="lead mb-0">{{ 'Update Application' if user_info['profile']|length > 1 else 'Create Application' }}</p>
                    </div>
                </div>
                <div class="card border-bottom">
                    <div class="card-body">
                        <div class="separator-2"></div>
                          <form class="form-horizontal" action='{{ 'updateuserinfo' if user_info['profile']|length > 1 else 'createuserinfo' }}' method="POST">
                              <div class="form-group input-group">
                             	  <div class="input-group-prepend">
                            		  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            		</div>
                            	  <input name="firstname" class="form-control" placeholder="First Name" type="text" value="{{ user_info['profile']['firstName'] if user_info['profile']|length > 1 else '' }}">
                              </div>

                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                          		  </div>
                                <input name="lastname" class="form-control" placeholder="Last Name" type="text" value="{{ user_info['profile']['lastName'] if user_info['profile']|length > 1 else '' }}">
                              </div>

                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                          		  </div>
                                <input name="email" class="form-control" placeholder="Email address" type="email" value="{{ user_info['profile']['email'] if user_info['profile']|length > 1 else '' }}">
                              </div>

                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                          		  </div>
                          			<input name="phonenumber" class="form-control" placeholder="Phone number" type="text" value="{{ user_info['profile']['mobilePhone'] if user_info['profile']|length > 1 else '' }}">
                              </div>
                              <input name="group_id" class="form-control" type="hidden" value="{{ group_id }}">
                              <input name="user_id" class="form-control" type="hidden" value="{{ user_info['id'] if user_info['profile']|length > 1 else '' }}">
                              <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-block"> {{ 'Update Application' if user_info['profile']|length > 1 else 'Create Application' }}</button>
                              </div>
                          </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block footer %}
{% endblock %}