<!DOCTYPE html>
<html lang="en">
    {% include '//components/template-header-meta-admin.html' %}
    <body class="nav-fixed">
            {% include 'developer/navitemsdocs.html' %}
            <div id="layoutSidenav_content">
                <main style="height: 100%;">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
        {% include '//components/template-footer-scripts-admin.html' %}
        {% if user_info is defined %}
            {% include '//components/template-modal.html' %}
        {% endif %}
    </body>
</html>



