{% extends templatename+"/template.html" %}


{% block content %}
<header class="page-header page-header-dark bg-img-cover overlay overlay-80"
    style='background-image: url("{{ config.settings.app_banner_img_1 }}")'>
    <div class="page-header-content py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <div data-aos="fade-up">
                        <h1 class="page-header-title">{{ config.settings.app_slogan }}</h1>
                        <p class="page-header-text">{{ config.settings.app_subslogan }} </p>
                    </div>
                    <button class="btn btn-marketing rounded-pill btn-primary" data-aos="fade-up" data-aos-delay="100">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
             fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
</header>
<section class="bg-white py-10">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="send"></i></div>
                <h2>The Most Reliable Dealership</h2>
                <p class="mb-0">We can boast the perfect reputation.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="calendar"></i></div>
                <h2>Fast and Reliable Service</h2>
                <p class="mb-0">We provide the most reliable sales and service for your car.</p>
            </div>
            <div class="col-lg-4">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i
                        data-feather="search"></i></div>
                <h2>Find your local dealship here</h2>
                <p class="mb-0">Convenient and fast search for the dealership near you.</p>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
             fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
</section>
<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center z-1">
            <div class="col-lg-8" data-aos="fade-up">
                <div class="card lift mb-n15">
                    <div class="card-body p-2">
                        <div class="video overlay bg-img-cover rounded"
                             style='background-image: "/static/travel-editor-favorite-products.jpg"'>
                            <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe width="560" height="315" src="https://www.youtube.com/embed/L9ZYdShgtPE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-img-cover overlay overlay-80 py-10"
          style='background-image: url("static/img/hotelroom.jpg")'>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="display-4 text-center py-10 my-10 text-white">We are here to serve. Our commitment is the best B2B selling experience.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10 text-center my-10 py-10">
                <h2>Ready to get Started?</h2>
                <p class="lead text-gray-500 mb-5">We'd love to hear from you. Our customer service representatives are here for you 24/7.</p>
                <a class="btn btn-primary btn-marketing rounded-pill" href="#!">Contact us</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}