{% extends templatename+"/template.html" %} {% block content %}
<style type="text/css">
  .button
  {
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 39px 43px;
    padding-left: 41px;
    color: #000;
    border: 1px;
    
  
  }
  .button:hover
  {
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 39px 43px;
    padding-left: 41px;
    color: #000;
    border: 1px;
  }
  
    .sign-in-facebook
  {
    background-image: url('http://i.stack.imgur.com/e2S63.png');
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 41px;
    color: #000;
  }
  .sign-in-facebook:hover
  {
    background-image: url('http://i.stack.imgur.com/e2S63.png');
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 41px;
    color: #000;
  }
  
</style>

<section class="bg-light py-5">
            <div class="container">
                <div class="d-flex align-items-center mb-5">
                    <div class="icon-stack icon-stack-lg bg-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div>
                    <div class="ml-3">
                        <h2 class="mb-0">{{location}}</h2>
                        <p class="lead mb-0">Applications</p>
                    </div>
                </div>
                <div class="card border-bottom">
                    <div class="card-body">
                        <div class="separator-2"></div>
                             {% for app in apps %}
                                 <a href="{{app._links.appLinks[0].href}}"  class="btn btn-default button" style="height:50px; width:250px; color: white; background-color: #5A827F; padding: 5px 11px; border: 2px solid #5a827f; margin-top:2px; margin-bottom:2px; background-image: url('{{app._links.logo[0].href}}')">{{app.label}}</a>
                            {% endfor %}     
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block footer %}
{% endblock %}
