{% extends templatename+"/template.html" %} {% block content %}
<style type="text/css">
  .button
  {
    /* background-position: -9px -7px; */
    background-repeat: no-repeat;
    background-size: 39px 43px;
    padding-left: 41px;
    color: #000;
    border: 1px;
    background-size: auto;
    background-origin: content-box !important;;
  }
  .button:hover
  {
    /* background-position: -9px -7px; */
    background-repeat: no-repeat;
    /* background-size: 39px 43px; */
    padding-left: 41px;
    color: #000;
    border: 1px;
    background-size: auto;
    background-origin: content-box !important;;
  }

  /*
  display: block;
    max-width: 72px;
    max-height: 28px;
    margin: 9px auto 0;
    */

    .sign-in-facebook
  {
    background-image: url('http://i.stack.imgur.com/e2S63.png');
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 41px;
    color: #000;
  }
  .sign-in-facebook:hover
  {
    background-image: url('http://i.stack.imgur.com/e2S63.png');
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 41px;
    color: #000;
  }

</style>

<section class="bg-light py-5">
            <div class="container">
                <div class="d-flex align-items-center mb-5">
                    <div class="icon-stack icon-stack-lg bg-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div>
                    <div class="ml-3">
                        <h2 class="mb-0">{{location}}</h2>
                        <p class="lead mb-0">Applications</p>
                    </div>
                </div>
                <div class="row">
                  {% if apps|length > 0 %}
                    {% for app in apps %}
                      {% if app["_links"]["appLinks"] %}
                        <div class="col-xxl-3 col-lg-4">
                            <div class="card text-white mb-4">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center" style="height: 50px;">
                                        <div class="mr-3">
                                            <div class="text-lg font-weight-bold"><a class="small text-black stretched-link" href="{{app._links.appLinks[0].href}}" target="_blank">{{app.label}}</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-primary d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="{{app._links.appLinks[0].href}}" target="_blank">Go To App</a>
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                     {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
        </section>
{% endblock %}

{% block footer %}
{% endblock %}
