<!DOCTYPE html>
<html lang="en">
    {% include '//components/template-header-meta.html' %} 
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% if not "login" in request.path and not "index" in request.path and not "registration" in request.path %} 
                        {% set navitems ="navitemslogin.html" %}
                    {% else %}
                        {% set navitems ="navitems.html" %}
                    {% endif %}
                    {% with mynavitems = navitems %}
                        {% include '//components/template-navigation.html' %}
                    {% endwith %}
                    {% block header %}{% endblock %}
                    {% block content %}{% endblock %}
                </main>
            </div>
            <div id="layoutDefault_footer">
                {% block footer %}{% endblock %}
            </div>
            {% with color="white" %}
                {% include '//components/template-footer.html' %}
            {% endwith %}
        </div>
        {% include '//components/template-footer-scripts.html' %}
    </body>
</html>
