        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item"><a class="nav-link" href="../index">Home</a></li>
                <li class="nav-item no-caret">
                    <a class="nav-link" id="navbarDropdownPages" href="/registration" role="button"  aria-haspopup="true" >Register</a>
                </li>
                <li class="nav-item no-caret">
                    <a class="nav-link" id="navbarDropdownPages" href="#" role="button" aria-haspopup="true" >Doctors</a>
                </li>
            </ul>
        </div>