{% extends "healthcare/template.html" %}

{% block content %}
 <section class="bg-light py-5">
    <div class="container">
        {% if session['appointment'] %}
        <script>$("#TransferAlertBox").fadeIn();</script>
        {% endif %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert" id="TransferAlertBox" >
                <h5 class="alert-heading">Scheduled Appointments</h5>
                {{ session['appointment'] }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card border-bottom">
                    <div class="card-header">Account</div>
                    <div class="card-body">
                          <form class="form-horizontal" action='updateuserinfo' method="POST">
                              <div class="form-group input-group">
                             	  <div class="input-group-prepend">
                            		  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            		</div>
                            	  <input name="firstname" class="form-control" id="firstname" placeholder="First Name" type="text" value="{{ user_info2['profile']['firstName'] }}">
                              </div>

                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                          		  </div>
                                <input name="lastname" class="form-control" id="lastname" placeholder="Last Name" type="text" value="{{ user_info2['profile']['lastName']  }}">
                              </div>

                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                          		  </div>
                                <input name="email" class="form-control" id="email" placeholder="Email address" type="email" value="{{ user_info2['profile']['email']  }}">
                              </div>

                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                          		  </div>
                          			<input name="mobilePhone" id="mobilePhone" class="form-control" placeholder="Mobile Phone" type="text" value="{{ user_info2['profile']['mobilePhone']  }}">
                              </div>

                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-id-card"></i> </span>
                          		  </div>
                          			<input name="patientid" id="patientid" class="form-control" type="text" value="{{ patientid  }}" disabled>&nbsp;&nbsp;
                          			<button type="button" onclick="showidcard()" class="btn btn-primary">&nbsp;Show ID Card&nbsp;</button>
                              </div>

                              <div class="form-group input-group">
                                    <div class="input-group-prepend">
                          		        <span class="input-group-text"> <i class="fa fa-check"></i> </span>
                                    </div>
                          			<input name="consent" id="consent" class="form-control" type="text" value="{{ consent }}" disabled>&nbsp;&nbsp;
                          			<button type="button" onclick="resetconsent()" class="btn btn-primary">Reset Consent</button>
                              </div>
                              <input name="nconsent" id="nconsent" class="form-control" type="hidden" value="{{ consent }}">
                              <input id="user_id" name="user_id" class="form-control" type="hidden" value="{{ user_info2['id'] }}">
                              <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-block">Update Account</button>
                              </div>
                          </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-bottom">
                    <div class="card-header">Identity Verification</div>
                    <div class="card-body">
                        {% if is_evident_validated|trim == 'True' %}
                            You are Validated!<br><br>
                            <button type="button" onclick="openverification()" class="btn btn-primary">Re-validate</button>
                        {% else %}
                            You are Not Validated!<br><br>
                            <button type="button" onclick="openverification()" class="btn btn-primary">Validate</button>
                        {% endif %}

                    </div>
                </div>
                <br>
                {% include '//components/template-mfaenrollment.html' %}
            </div>
        </div>
    </div>
</section>

        {% include '//components/template-modal.html' %}

        <div class="modal fade" id="identityVerification" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <a href="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/img/michael-motorist-front.jpg" download="michael-motorist-front.jpg">sample front license</a>&nbsp;&nbsp;&nbsp;
                        <a href="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/img/michael-motorist-back.jpg" download="michael-motorist-back.jpg">sample back license</a>
                        <button class="close" type="button" onclick="closeverification()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body" id="mfamodalbody">
                          <iframe name="iframeEvident" id="iframeEvident" width="100%" height="700" frameBorder="0" src=""></iframe>
                    </div>
            </div>
        </div>
        </div>

        <div class="modal fade" id="healthcard" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        Your Health Insurance Card ID<button class="close" type="button" onclick="closeidcard" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body" id="mfamodalbody" style="text-align: center;">
                        <table border="0" style="border-collapse: collapse; width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="width: 50%;"><img src="https://cdn-zartan.s3.us-east-2.amazonaws.com/static/img/health-insurance.png" alt="" width="300" height="166" /></td>
                                    <td style="width: 50%;">
                                        <p>Name: {{ user_info2['profile']['firstName'] }} {{ user_info2['profile']['lastName'] }} <br />ID: {{ patientid  }}</p>
                                        <hr>
                                        <p>Group#: GP10334<br />Effective Date: 1/1/2020</p>
                                        <p>Plan: Family PPO</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;">
                                        <hr>
                                        <p>RX: Yes<br />RXBin: 156456<br />RXPCN: 01945610000<br><br><br></p>
                                    </td>
                                    <td style="width: 50%;">
                                        <hr>
                                        <p><b>Copayment</b></p>
                                        <p>Primary Care: $15<br />Urgent Care: $15<br />Emergency Room: $100</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        </div>

        <div class="modal fade" id="consentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Sign Up Now</h5><br>
                        </div>
                        <div class="modal-body" id="mfamodalbody">
                            <h1>HIPAA Information and Consent Form</h1><p>The Health Insurance Portability and Accountability Act (HIPAA) provides safeguards to protect your privacy. Implementation of HIPAA requirements officially began on April 14, 2003. Many of the policies have been our practice for years. This form is a &ldquo;friendly&rdquo; version. A more complete text is posted in the office. What this is all about: Specifically, there are rules and restrictions on who may see or be notified of your Protected Health Information (PHI). These restrictions do not include the normal interchange of information necessary to provide you with office services. HIPAA provides certain rights and protections to you as the patient. We balance these needs with our goal of providing you with quality professional service and care. Additional information is available from the U.S. Department of Health and Human Services. www.hhs.gov We have adopted the following policies:</p>
                                <p>1. Patient information will be kept confidential except as is necessary to provide services or to ensure that all administrative matters related to your care are handled appropriately. This specifically includes the sharing of information with other healthcare providers, laboratories, health insurance payers as is necessary and appropriate for your care. Patient files may be stored in open file racks and will not contain any coding which identifies a patient&rsquo;s condition or information which is not already a matter of public record. The normal course of providing care means that such records may be left, at least temporarily, in administrative areas such as the front office, examination room, etc. Those records will not be available to persons other than office staff . You agree to the normal procedures utilized within the office for the handling of charts, patient records, PHI and other documents or information.</p>
                                <p>2. It is the policy of this office to remind patients of their appointments. We may do this by telephone, e-mail, U.S mail, or by any means convenient for the practice and/or as requested by you. We may send you other communications informing you of changes to office policy and new technology that you might find valuable or informative.</p>
                                <p>3. The practice utilizes a number of vendors in the conduct of business. These vendors may have access to PHI but must agree to abide by the confidentiality rules of HIPAA.</p>
                                <p>4. You understand and agree to inspections of the office and review of documents which may include PHI by government agencies or insurance payers in normal performance of their duties.</p>
                                <p>5. You agree to bring any concerns or complaints regarding privacy to the attention of the office manger or the doctor.</p>
                                <p>6. Your confidential information will not be used for the purposes of marketing or advertising of products, goods or services.</p>
                                <p>7. We agree to provide patients with access to their records in accordance with state and federal laws.</p>
                                <p>8. We may change, add, delete or modify any of these provisions to better serve the needs of the both the practice and the patient.</p>
                                <p>9. You have the right to request restrictions in the use of your protected health information and to request change in certain policies used within the office concerning your PHI. However, we are not obligated to alter internal policies to conform to your request.</p>
                        </div>
                        <div class="modal-footer">
                            <div  style="float: left;"><input type="checkbox" id="acceptterms" name="acceptterms" onclick="acceptterms()" value="Accept Terms"> &nbsp;&nbsp;I hereby consent and
                                acknowledge my agreement to the terms set forth in the HIPAA INFORMATION FORM and any
                                subsequent changes in office policy. I understand that this consent shall remain in force
                                from this time forward.
                            </div>&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary" type="button" id="confirm"  onclick="acceptcompleted()" disabled>Confirm</button>
                            <button class="btn btn-primary" type="button" onclick="closepopup()">Cancel</button>
                        </div>
                </div>
            </div>
        </div>

    <script type="text/javascript">

        function showidcard(){
            console.log("showidcard()");
            $("#healthcard").modal("show");
        }
        function closeidcard() {
            console.log("closeidcard()");
            $("#healthcard").modal("hide");
        }

        function openverification(){
            console.log("openverification()");
            $("#identityVerification").modal("show");
            evidenttoken = "";
            $.ajax({
                      'async': false,
                      'type': "GET",
                      'url': "/healthcare/getverificationcode",
                      'success': function (data) {
                         evidenttoken = data;
                      }
                    });
            $('#iframeEvident').attr('src', "https://idoweb.api.demo.evidentid.com/api/v1/auth?auth_token="+evidenttoken)
        }
        function closeverification() {
            console.log("closeverification()");
            $("#identityVerification").modal("hide");
            location.reload();
        }

        window.addEventListener('load', function () {
            testconsent = '{{consent}}';
            console.log("check_consent()");
            console.log(testconsent);
            if (testconsent.trim() == '')
            {
                $("#consentModal").modal("show");
            }
        })
        function acceptcompleted() {
            console.log("acceptcompleted()");
            window.location = "/healthcare/acceptterms";
            $("#consentModal").modal("hide");
        }

        function closepopup() {
            console.log("closepopup()");
            $("#consentModal").modal("hide");
        }


        function acceptterms() {
                console.log("acceptterms()");
                if($("#acceptterms").prop("checked") == true)
                {
                    $("#confirm").prop('disabled', false);
                }
                else
                {
                    $("#confirm").prop('disabled', true);
                }
        }

        function resetconsent() {
                console.log("resetconsent()");
                $("#consent").val("");
                window.location = "/healthcare/clearconsent/{{user_info2['id']}}" ;
        }



    </script>

    <style>
        .modal-dialog {
            max-width: 800;
        }
    </style>

{% endblock %}

{% block footer %}
{% endblock %}