{% extends "healthcare/template.html" %}

{% block content %}
<style>
    .btn-outline-primary:focus{
        color:fff !important;
    }

    .btn:focus
    {
        background-color: {{config.settings.app_primary_color}} !important;
    }
    .btn:visited
    {
        background-color: {{config.settings.app_primary_color}} !important;
    }
    .btn:active
    {
        background-color: {{config.settings.app_primary_color}} !important;
    }
</style>
  <form class="form-horizontal" action='/healthcare/addschedule' method="POST">
 <section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-bottom">
                    <div class="card-header">Patient Information</div>
                    <div class="card-body">
                              <label for="exampleFormControlInput1">First Name</label>
                              <div class="form-group input-group">
                             	  <div class="input-group-prepend">
                            		  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            		</div>
                            	  <input name="firstname" class="form-control" type="text" value="{{ user_info2['profile']['firstName'] }}">
                              </div>

                              <label for="exampleFormControlInput1">Last Name</label>
                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                          		  </div>
                                <input name="lastname" class="form-control" type="text" value="{{ user_info2['profile']['lastName']  }}">
                              </div>

                              <label for="exampleFormControlInput1">Street Address</label>
                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-map"></i> </span>
                          		  </div>
                                <input name="address" class="form-control" type="text" value="{{ user_info2['profile']['streetAddress']  }}">
                              </div>

                              <label for="exampleFormControlInput1">City</label>
                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-map"></i> </span>
                          		  </div>
                                <input name="city" class="form-control" type="text" value="{{ user_info2['profile']['city']  }}">
                              </div>

                              <label for="exampleFormControlInput1">State</label>
                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-map"></i> </span>
                          		  </div>
                                <input name="state" class="form-control" type="text" value="{{ user_info2['profile']['state']  }}">
                              </div>

                              <label for="exampleFormControlInput1">Zip Code</label>
                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-map"></i> </span>
                          		  </div>
                                <input name="zipCode" class="form-control" type="text"  value="{{ user_info2['profile']['zipCode']  }}">
                              </div>

                              <label for="exampleFormControlInput1">Country</label>
                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-map"></i> </span>
                          		  </div>
                                    <select id="country" class="form-control" name="country">
                                        <option value="US">United States</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="AF">Afghanistan</option>
                                    	<option value="AX">Åland Islands</option>
                                    	<option value="AL">Albania</option>
                                    	<option value="DZ">Algeria</option>
                                    	<option value="AS">American Samoa</option>
                                    	<option value="AD">Andorra</option>
                                    	<option value="AO">Angola</option>
                                    	<option value="AI">Anguilla</option>
                                    	<option value="AQ">Antarctica</option>
                                    	<option value="AG">Antigua and Barbuda</option>
                                    	<option value="AR">Argentina</option>
                                    	<option value="AM">Armenia</option>
                                    	<option value="AW">Aruba</option>
                                    	<option value="AU">Australia</option>
                                    	<option value="AT">Austria</option>
                                    	<option value="AZ">Azerbaijan</option>
                                    	<option value="BS">Bahamas</option>
                                    	<option value="BH">Bahrain</option>
                                    	<option value="BD">Bangladesh</option>
                                    	<option value="BB">Barbados</option>
                                    	<option value="BY">Belarus</option>
                                    	<option value="BE">Belgium</option>
                                    	<option value="BZ">Belize</option>
                                    	<option value="BJ">Benin</option>
                                    	<option value="BM">Bermuda</option>
                                    	<option value="BT">Bhutan</option>
                                    	<option value="BO">Bolivia, Plurinational State of</option>
                                    	<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                    	<option value="BA">Bosnia and Herzegovina</option>
                                    	<option value="BW">Botswana</option>
                                    	<option value="BV">Bouvet Island</option>
                                    	<option value="BR">Brazil</option>
                                    	<option value="IO">British Indian Ocean Territory</option>
                                    	<option value="BN">Brunei Darussalam</option>
                                    	<option value="BG">Bulgaria</option>
                                    	<option value="BF">Burkina Faso</option>
                                    	<option value="BI">Burundi</option>
                                    	<option value="KH">Cambodia</option>
                                    	<option value="CM">Cameroon</option>
                                    	<option value="CA">Canada</option>
                                    	<option value="CV">Cape Verde</option>
                                    	<option value="KY">Cayman Islands</option>
                                    	<option value="CF">Central African Republic</option>
                                    	<option value="TD">Chad</option>
                                    	<option value="CL">Chile</option>
                                    	<option value="CN">China</option>
                                    	<option value="CX">Christmas Island</option>
                                    	<option value="CC">Cocos (Keeling) Islands</option>
                                    	<option value="CO">Colombia</option>
                                    	<option value="KM">Comoros</option>
                                    	<option value="CG">Congo</option>
                                    	<option value="CD">Congo, the Democratic Republic of the</option>
                                    	<option value="CK">Cook Islands</option>
                                    	<option value="CR">Costa Rica</option>
                                    	<option value="CI">Côte d'Ivoire</option>
                                    	<option value="HR">Croatia</option>
                                    	<option value="CU">Cuba</option>
                                    	<option value="CW">Curaçao</option>
                                    	<option value="CY">Cyprus</option>
                                    	<option value="CZ">Czech Republic</option>
                                    	<option value="DK">Denmark</option>
                                    	<option value="DJ">Djibouti</option>
                                    	<option value="DM">Dominica</option>
                                    	<option value="DO">Dominican Republic</option>
                                    	<option value="EC">Ecuador</option>
                                    	<option value="EG">Egypt</option>
                                    	<option value="SV">El Salvador</option>
                                    	<option value="GQ">Equatorial Guinea</option>
                                    	<option value="ER">Eritrea</option>
                                    	<option value="EE">Estonia</option>
                                    	<option value="ET">Ethiopia</option>
                                    	<option value="FK">Falkland Islands (Malvinas)</option>
                                    	<option value="FO">Faroe Islands</option>
                                    	<option value="FJ">Fiji</option>
                                    	<option value="FI">Finland</option>
                                    	<option value="FR">France</option>
                                    	<option value="GF">French Guiana</option>
                                    	<option value="PF">French Polynesia</option>
                                    	<option value="TF">French Southern Territories</option>
                                    	<option value="GA">Gabon</option>
                                    	<option value="GM">Gambia</option>
                                    	<option value="GE">Georgia</option>
                                    	<option value="DE">Germany</option>
                                    	<option value="GH">Ghana</option>
                                    	<option value="GI">Gibraltar</option>
                                    	<option value="GR">Greece</option>
                                    	<option value="GL">Greenland</option>
                                    	<option value="GD">Grenada</option>
                                    	<option value="GP">Guadeloupe</option>
                                    	<option value="GU">Guam</option>
                                    	<option value="GT">Guatemala</option>
                                    	<option value="GG">Guernsey</option>
                                    	<option value="GN">Guinea</option>
                                    	<option value="GW">Guinea-Bissau</option>
                                    	<option value="GY">Guyana</option>
                                    	<option value="HT">Haiti</option>
                                    	<option value="HM">Heard Island and McDonald Islands</option>
                                    	<option value="VA">Holy See (Vatican City State)</option>
                                    	<option value="HN">Honduras</option>
                                    	<option value="HK">Hong Kong</option>
                                    	<option value="HU">Hungary</option>
                                    	<option value="IS">Iceland</option>
                                    	<option value="IN">India</option>
                                    	<option value="ID">Indonesia</option>
                                    	<option value="IR">Iran, Islamic Republic of</option>
                                    	<option value="IQ">Iraq</option>
                                    	<option value="IE">Ireland</option>
                                    	<option value="IM">Isle of Man</option>
                                    	<option value="IL">Israel</option>
                                    	<option value="IT">Italy</option>
                                    	<option value="JM">Jamaica</option>
                                    	<option value="JP">Japan</option>
                                    	<option value="JE">Jersey</option>
                                    	<option value="JO">Jordan</option>
                                    	<option value="KZ">Kazakhstan</option>
                                    	<option value="KE">Kenya</option>
                                    	<option value="KI">Kiribati</option>
                                    	<option value="KP">Korea, Democratic People's Republic of</option>
                                    	<option value="KR">Korea, Republic of</option>
                                    	<option value="KW">Kuwait</option>
                                    	<option value="KG">Kyrgyzstan</option>
                                    	<option value="LA">Lao People's Democratic Republic</option>
                                    	<option value="LV">Latvia</option>
                                    	<option value="LB">Lebanon</option>
                                    	<option value="LS">Lesotho</option>
                                    	<option value="LR">Liberia</option>
                                    	<option value="LY">Libya</option>
                                    	<option value="LI">Liechtenstein</option>
                                    	<option value="LT">Lithuania</option>
                                    	<option value="LU">Luxembourg</option>
                                    	<option value="MO">Macao</option>
                                    	<option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                    	<option value="MG">Madagascar</option>
                                    	<option value="MW">Malawi</option>
                                    	<option value="MY">Malaysia</option>
                                    	<option value="MV">Maldives</option>
                                    	<option value="ML">Mali</option>
                                    	<option value="MT">Malta</option>
                                    	<option value="MH">Marshall Islands</option>
                                    	<option value="MQ">Martinique</option>
                                    	<option value="MR">Mauritania</option>
                                    	<option value="MU">Mauritius</option>
                                    	<option value="YT">Mayotte</option>
                                    	<option value="MX">Mexico</option>
                                    	<option value="FM">Micronesia, Federated States of</option>
                                    	<option value="MD">Moldova, Republic of</option>
                                    	<option value="MC">Monaco</option>
                                    	<option value="MN">Mongolia</option>
                                    	<option value="ME">Montenegro</option>
                                    	<option value="MS">Montserrat</option>
                                    	<option value="MA">Morocco</option>
                                    	<option value="MZ">Mozambique</option>
                                    	<option value="MM">Myanmar</option>
                                    	<option value="NA">Namibia</option>
                                    	<option value="NR">Nauru</option>
                                    	<option value="NP">Nepal</option>
                                    	<option value="NL">Netherlands</option>
                                    	<option value="NC">New Caledonia</option>
                                    	<option value="NZ">New Zealand</option>
                                    	<option value="NI">Nicaragua</option>
                                    	<option value="NE">Niger</option>
                                    	<option value="NG">Nigeria</option>
                                    	<option value="NU">Niue</option>
                                    	<option value="NF">Norfolk Island</option>
                                    	<option value="MP">Northern Mariana Islands</option>
                                    	<option value="NO">Norway</option>
                                    	<option value="OM">Oman</option>
                                    	<option value="PK">Pakistan</option>
                                    	<option value="PW">Palau</option>
                                    	<option value="PS">Palestinian Territory, Occupied</option>
                                    	<option value="PA">Panama</option>
                                    	<option value="PG">Papua New Guinea</option>
                                    	<option value="PY">Paraguay</option>
                                    	<option value="PE">Peru</option>
                                    	<option value="PH">Philippines</option>
                                    	<option value="PN">Pitcairn</option>
                                    	<option value="PL">Poland</option>
                                    	<option value="PT">Portugal</option>
                                    	<option value="PR">Puerto Rico</option>
                                    	<option value="QA">Qatar</option>
                                    	<option value="RE">Réunion</option>
                                    	<option value="RO">Romania</option>
                                    	<option value="RU">Russian Federation</option>
                                    	<option value="RW">Rwanda</option>
                                    	<option value="BL">Saint Barthélemy</option>
                                    	<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                    	<option value="KN">Saint Kitts and Nevis</option>
                                    	<option value="LC">Saint Lucia</option>
                                    	<option value="MF">Saint Martin (French part)</option>
                                    	<option value="PM">Saint Pierre and Miquelon</option>
                                    	<option value="VC">Saint Vincent and the Grenadines</option>
                                    	<option value="WS">Samoa</option>
                                    	<option value="SM">San Marino</option>
                                    	<option value="ST">Sao Tome and Principe</option>
                                    	<option value="SA">Saudi Arabia</option>
                                    	<option value="SN">Senegal</option>
                                    	<option value="RS">Serbia</option>
                                    	<option value="SC">Seychelles</option>
                                    	<option value="SL">Sierra Leone</option>
                                    	<option value="SG">Singapore</option>
                                    	<option value="SX">Sint Maarten (Dutch part)</option>
                                    	<option value="SK">Slovakia</option>
                                    	<option value="SI">Slovenia</option>
                                    	<option value="SB">Solomon Islands</option>
                                    	<option value="SO">Somalia</option>
                                    	<option value="ZA">South Africa</option>
                                    	<option value="GS">South Georgia and the South Sandwich Islands</option>
                                    	<option value="SS">South Sudan</option>
                                    	<option value="ES">Spain</option>
                                    	<option value="LK">Sri Lanka</option>
                                    	<option value="SD">Sudan</option>
                                    	<option value="SR">Suriname</option>
                                    	<option value="SJ">Svalbard and Jan Mayen</option>
                                    	<option value="SZ">Swaziland</option>
                                    	<option value="SE">Sweden</option>
                                    	<option value="CH">Switzerland</option>
                                    	<option value="SY">Syrian Arab Republic</option>
                                    	<option value="TW">Taiwan, Province of China</option>
                                    	<option value="TJ">Tajikistan</option>
                                    	<option value="TZ">Tanzania, United Republic of</option>
                                    	<option value="TH">Thailand</option>
                                    	<option value="TL">Timor-Leste</option>
                                    	<option value="TG">Togo</option>
                                    	<option value="TK">Tokelau</option>
                                    	<option value="TO">Tonga</option>
                                    	<option value="TT">Trinidad and Tobago</option>
                                    	<option value="TN">Tunisia</option>
                                    	<option value="TR">Turkey</option>
                                    	<option value="TM">Turkmenistan</option>
                                    	<option value="TC">Turks and Caicos Islands</option>
                                    	<option value="TV">Tuvalu</option>
                                    	<option value="UG">Uganda</option>
                                    	<option value="UA">Ukraine</option>
                                    	<option value="AE">United Arab Emirates</option>
                                    	<option value="GB">United Kingdom</option>
                                    	<option value="US">United States</option>
                                    	<option value="UM">United States Minor Outlying Islands</option>
                                    	<option value="UY">Uruguay</option>
                                    	<option value="UZ">Uzbekistan</option>
                                    	<option value="VU">Vanuatu</option>
                                    	<option value="VE">Venezuela, Bolivarian Republic of</option>
                                    	<option value="VN">Viet Nam</option>
                                    	<option value="VG">Virgin Islands, British</option>
                                    	<option value="VI">Virgin Islands, U.S.</option>
                                    	<option value="WF">Wallis and Futuna</option>
                                    	<option value="EH">Western Sahara</option>
                                    	<option value="YE">Yemen</option>
                                    	<option value="ZM">Zambia</option>
                                    	<option value="ZW">Zimbabwe</option>
                                    </select>
                              </div>

                             <label for="exampleFormControlInput1">Phone number</label>
                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                          		  </div>
                          			<input name="mobilePhone" class="form-control" type="text" value="{{ user_info2['profile']['mobilePhone']  }}">
                              </div>

                              <label for="exampleFormControlInput1">Date of Birth</label>
                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                          		  </div>
                          		  <input type="text" class="form-control" name="dob" id="dateofbirth" value="{{ dob }}" required="true">
                              </div>

                              <label for="exampleFormControlInput1">Gender</label>
                              <div class="form-group input-group">
                              	<div class="input-group-prepend">
                          		    <span class="input-group-text"> <i class="fa fa-genderless"></i></i> </span>
                          		  </div>
                                 <select class="form-control" id="gender" name="gender" required="true">
                                    <option selected disabled value="">Select</option>
                                    <option {% if gender=="Male" %} selected="selected"{% endif %} value="Male">Male</option>
                                    <option {% if gender=="Female" %} selected="selected"{% endif %} value="Female">Female</option>
                                    <option {% if gender=="Neutral" %} selected="selected"{% endif %} value="Neutral">Neutral</option>
                                    <option {% if gender=="Rather not say" %} selected="selected"{% endif %} value="Rather not say">Rather not say</option>
                                </select>
                              </div>
                               <label for="exampleFormControlInput1">Have you previously attended our facility?</label>
                                  <div class="custom-control custom-control-solid custom-radio">
                                    <input class="custom-control-input" id="customRadio1" value="true" type="radio" name="hasvisited">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                                <div class="custom-control custom-control-solid custom-radio">
                                    <input class="custom-control-input" id="customRadio2" value="false" type="radio" name="hasvisited">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                              <input name="timepicker" id="timepicker" class="form-control" type="hidden" value="">
                              <input name="user_id" id="user_id" class="form-control" type="hidden" value="{{ user_info2['id'] }}">
                              <input name="email" id="email" class="form-control" type="hidden" value="{{ user_info2['profile']['email'] }}">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                 <div class="card border-bottom">
                    <div class="card-header">Schedule an Appointment</div>
                        <div class="card-body">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                                </div>
                              	<input type="text" class="form-control" name="datepicker" id="datepicker">
                            </div>
                            <div class="form-group input-group">
                                 <label id="seetimes">Choose a date to see times.</label>
                                 <div id="hours" style="width: 100%;" class="justify-content-center">
                                     <button id="btn1" type="button" onclick="settime(this.innerHTML)" style="width: 100%;" class="btn btn-outline-primary btn-lg">8am - 9am</button><br><br>
                                     <button id="btn2" type="button" onclick="settime(this.innerHTML)" style="width: 100%;" class="btn btn-outline-primary btn-lg">9am - 10am</button><br><br>
                                     <button id="btn3" type="button" onclick="settime(this.innerHTML)" style="width: 100%;" class="btn btn-outline-primary btn-lg">10am - 11am</button><br><br>
                                     <button id="btn4" type="button" onclick="settime(this.innerHTML)" style="width: 100%;" class="btn btn-outline-primary btn-lg">11am - 12pm</button><br><br>
                                     <button id="btn5" type="button" onclick="settime(this.innerHTML)" style="width: 100%;" class="btn btn-outline-primary btn-lg">12pm - 1pm</button><br><br>
                                     <button id="btn6" type="button" onclick="settime(this.innerHTML)" style="width: 100%;" class="btn btn-outline-primary btn-lg">1pm - 2pm</button><br><br>
                                     <button id="btn7" type="button" onclick="settime(this.innerHTML)" style="width: 100%;" class="btn btn-outline-primary btn-lg">2pm - 3pm</button><br><br>
                                     <button id="btn8" type="button" onclick="settime(this.innerHTML)" style="width: 100%;" class="btn btn-outline-primary btn-lg">3pm - 4pm</button><br><br>
                                     <button id="btn9" type="button" onclick="settime(this.innerHTML)" style="width: 100%;" class="btn btn-outline-primary btn-lg">4pm - 5m</button><br><br>
                                 </div>
                            </div>

                            <div class="form-group">
                              <button type="submit" id="requestappt" class="btn btn-primary btn-block">Request Appointment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>

    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">
    <script type="text/javascript">

        var header = document.getElementById("hours");
        var btns = header.getElementsByTagName("button");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                $(this).siblings('button').removeClass('active');
                this.className += " active";
            });
        }

        $('#datepicker').datepicker({
			todayHighlight: true,
            autoclose: true
        }).on('changeDate', function(e) {
            randomhours();
        });

        $('#dateofbirth').datepicker({
            autoclose: true
        });

        $("#btn1").hide();
        $("#btn2").hide();
        $("#btn3").hide();
        $("#btn4").hide();
        $("#btn5").hide();
        $("#btn6").hide();
        $("#btn7").hide();
        $("#btn8").hide();
        $("#btn9").hide();
        $("#requestappt").hide();

        function settime(timeset)
        {

            $("#timepicker").val("'"+timeset+"'");
        }


        function isOdd(num) { return num % 2;}
        function randomhours() {
            $("#seetimes").hide();
            $("#requestappt").show();
            var i;
            for (i = 0; i < 10; i++) {
                var rnd = Math.floor(Math.random() * 11);
                if (isOdd(rnd))
                {
                    $("#btn"+i).show();
                    $("#btn"+i).attr('disabled', true);
                }
                else
                {
                    $("#btn"+i).show();
                }

            }
        }


    </script>

    <style>
        .modal-dialog {
            max-width: 900;
        }
    </style>

{% endblock %}

{% block footer %}

{% endblock %}